{% extends('layout.html') %}
{% block body %}
<section id="slog" class="section {{main_section_color}}">
    <div class="container">
        <div class="col s12">
            <div class="card-panel hoverable {{card_color}}">
                <h4 class="{{title_color}}">System Logs</h4>
                <div class="row">
                    <form method="POST">
                        <div class="input-field col s10 m6 l4 {{input_color}}">
                            <select name="table" id="table" onchange="updateData(this.value)">
                                {% for table_type in log_files -%}
                                <option value="{{table_type}}" {% if table_type==table %} selected {% endif %}
                                    >{{table_type.upper()|replace('_', ' ')}} LOG</option>
                                {% endfor -%}
                            </select>
                            <label for="table">Log Files</label>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 l5 xl3 {{input_color}}">
                        <input type="text" id="filter-input" onkeyup="filterTable(1, 4)" placeholder="error">
                        <label for="filter-input">Search</label>
                    </div>
                </div>
                <div class="row">
                    <table class="centered highlight" id="filter-table">
                        <thead>
                            <tr>
                                <th style="width:15%">Date/Time</th>
                                <th style="width:10%">Service</th>
                                <th style="width:10%">Level</th>
                                <th style="width:65%">Log Entry</th>
                            </tr>
                        </thead>
                        <tbody id="filter-table-body">
                            {% for date_time, service, log_level, log_entry in table_data %}
                            <tr>
                                <td>{{date_time}}</td>
                                <td>{{service}}</td>
                                <td>{{log_level}}</td>
                                <td>{{log_entry}}</td>
                            </tr>
                            {% else %}
                            <tr>
                                {% for i in range(4) %}
                                <td></td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'system/log/system/after_system.html' %}
{% endblock %}
