[Unit]
Description=DNXFIREWALL Web Application Service
After=nginx.service dnx-log.service
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=3
StartLimitBurst=3
User=dnx
Group=dnx
WorkingDirectory=/home/dnx/dnxfirewall
ExecStart=uwsgi --socket dnx_webui/webui.sock --chmod-socket=660 --mount /=dnx_webui:app --master --processes 2 --enable-threads

Environment=HOME_DIR=/home/dnx/dnxfirewall
Environment=SYSTEMD_PAGER=

[Install]
WantedBy=multi-user.target
