[Unit]
Description=DNXFIREWALL Logging Service (cleanup and merging)
After=dnx-database-sqlite.service
StartLimitIntervalSec=3

[Service]
Type=simple
Restart=always
RestartSec=3
User=dnx
ExecStart=/usr/bin/python3 /home/dnx/dnxfirewall/dnx_run.py logging
Environment=HOME_DIR=/home/dnx/dnxfirewall

[Install]
WantedBy=multi-user.target