[Unit]
Description=DNXFIREWALL Database Entry Service (used by security modules)
After=network.target
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=3
StartLimitBurst=3
User=dnx
ExecStart=/usr/bin/python3 /home/dnx/dnxfirewall/dnx_run.py cli database
Environment=HOME_DIR=/home/dnx/dnxfirewall

[Install]
WantedBy=multi-user.target