[Unit]
Description=DNXFIREWALL Web Application Service
After=nginx.service dnx-log.service
StartLimitIntervalSec=3

[Service]
Type=simple
Restart=always
RestartSec=3
User=dnx
Group=dnx
WorkingDirectory=/home/dnx/dnxfirewall
ExecStart=/usr/local/bin/uwsgi --enable-threads --ini dnx_webui/webui.ini
Environment=HOME_DIR=/home/dnx/dnxfirewall
Environment=SYSTEMD_PAGER=

[Install]
WantedBy=multi-user.target
