[Unit]
Description=DNXFIREWALL Packet Filter Service
After=dnx-log.service
StartLimitIntervalSec=3

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/usr/bin/python3 /home/dnx/dnxfirewall/dnx_secmods/cfirewall/fw_init.py
Environment=HOME_DIR=/home/dnx/dnxfirewall

[Install]
WantedBy=multi-user.target
