[Unit]
Description=DNXFIREWALL Packet Filter Service
After=dnx-log.service
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=3
StartLimitBurst=3
User=root
ExecStart=/usr/bin/python3 /home/dnx/dnxfirewall/dnx_run.py cfirewall
Environment=HOME_DIR=/home/dnx/dnxfirewall

[Install]
WantedBy=multi-user.target
