[Unit]
Description=DNXFIREWALL System Control Service (issue system level commands)
After=network.target
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=3
StartLimitBurst=3
User=root
ExecStart=/usr/bin/python3 /home/dnx/dnxfirewall/dnx_run.py syscontrol
Environment=HOME_DIR=/home/dnx/dnxfirewall

[Install]
WantedBy=multi-user.target