# ============
# VENDOR
# ============
# external libs (ex. Netfilter)
dnx_profile/libraries/** linguist-vendored

# dnxfirewall signature sets (.geo, .ips, domains)
dnx_profile/signatures/** linguist-vendored

# ============
# -DETECTABLE
# ============
# compiler, utilities, service files, etc
dnx_profile/utils/** -linguist-detectable

# webui images
*.png     -linguist-detectable

# ============
# OVERRIDES
# ============
# cython
*.pyx    linguist-language=Cython
*.pxd    linguist-language=Cython

# various configuration persistent tracker files
*.cfg     linguist-language=JSON
*.lease   linguist-language=JSON
*.cache   linguist-language=JSON
*.timer   linguist-language=JSON
*.stat    linguist-language=JSON
