{% extends('layout.html')%}
{% block body %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel hoverable {{ theme.card }}">
                    <div class="row">
                        <div class="col s2">
                            {{ create_title('users')|safe }}
                            <div class="row">
                                <form method="post">
                                <!-- <div class="people-list" id="people-list">
                                    <div class="search">
                                        <input type="text" placeholder="search" />
                                        <i class="fa fa-search"></i>
                                    </div> -->
                                    <ul>
                                    {% for user, status in contacts.items() %}
                                        <li>
                                            <div class="">
                                                <div class="">{{ user }}</div>
                                                {% if status[0] %}
                                                <div class="">
                                                    <i class="material-icon">online</i>
                                                </div>
                                                {% else %}
                                                <div class="">
                                                    <i class="material-icon">offline</i>
                                                    <span>seen: {{ status[1] }}</span>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </form>
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="col s10">
                            {{ create_title('chat')|safe }}
                            <div class="row">
                                <div class="chat">
                                    <div class="chat-header clearfix">
                                        <div class="chat-about">
                                            <div class="chat-with">Chat with Vincent Porter</div>
                                            <div class="chat-num-messages">already 1 902 messages</div>
                                        </div>
                                        <i class="fa fa-star"></i>
                                    </div> <!-- end chat-header -->
                                    <div class="chat-history">
                                        {{ session_info }}
                                        <ul>
                                        {% for message in messages %}
                                            {% if session_info['user'] == message[0] %}
                                            <li class="col s8 offset-s4">
                                                <div class="message-data">
                                                    <span class="message-data-time">{{ message[3] }}</span>
                                                    <span class="message-data-name">{{ message[0] }}</span>
                                                </div>
                                                <div class="message my-message">
                                                    {{ message[4] }}
                                                </div>
                                            </li>
                                            {% else %}
                                            <li class="col s8">
                                                <div class="message-data">
                                                    <span class="message-data-time">{{ message[3] }}</span>
                                                    <span class="message-data-name">{{ message[1] }}</span>
                                                </div>
                                                <div class="message other-message">
                                                    {{ message[4] }}
                                                </div>
                                            </li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div> <!-- end chat-history -->
                                    <div class="input-field col s12">
                                        <textarea id="chat-text" class="materialize-textarea" data-length="120"></textarea>
                                        <label for="chat-text">Message</label>
                                    </div>
                                    <div class="input-field col s4">
                                        <button type="submit" name="submit" id="submit" class="btn waves-effect waves-light col s12">Send</button>
                                    </div> <!-- end chat-message -->
                                </div> <!-- end chat -->
                            </div> <!-- end container -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
.chat {
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: #434651; }

.chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px; }

    .message-data {
      margin-bottom: 15px; }

    .message-data-time {
      color: lightslategrey;
      padding-left: 6px; }

    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative; }

    .my-message {
      background: green; }

    .other-message {
      background: blue; }
</style>
<script id="message-template" type="text/x-handlebars-template">
    <li class="clearfix">
        <div class="message-data align-right">
            <span class="message-data-time" >{{time}}, Today</span>
            <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
            {{messageOutput}}
        </div>
    </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
            <span class="message-data-time">{{time}}, Today</span>
        </div>
        <div class="message my-message">
            {{response}}
        </div>
    </li>
</script>
{% endblock %}