{% extends('layout.html')%}
{% block body %}
<!-- LABEL: DEVELOPMENT_ONLY_CODE -->
<div class="container center-align valign-wrapper">
    <div id="login-page" class="row">
        <div class="col z-depth-3 card-panel hoverable">
            <form class="login-form" method="post">
                <div class="row">
                    <div class="input-field col s12 center">
                        <h3 class="center red-text">SECURE MESSENGER</h3>
                        <p>Login to proceed</p>
                        {% if login_error %}
                        <h6 class="red-text center">{{login_error}}</h6>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="material-icons prefix">person_outline</i>
                        <input type="text" name="username" class="validate" id="username"
                            autocapitalize="none" autocomplete="off" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <i class="material-icons prefix">lock_outline</i>
                        <input type="password" name="password" id="password" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4 offset-s4">
                        <button type="submit" name="submit" id="submit"
                            class="btn waves-effect waves-light col s12">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
