{% extends('layout.html') %}
{% block body %}
<section id="tabs-bar" class="tabsbar">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="{{tab_classes}}"><a {% if tab=='1' %} class="active" {% endif %} href="#dnsservers"
                        onclick="activeTab(1)">Servers</a></li>
                    <li class="{{tab_classes}}"><a {% if tab=='2' %} class="active" {% endif %} href="#dnsrecords"
                        onclick="activeTab(2)">Records</a></li>
                    <li class="{{tab_classes}}"><a {% if tab=='3' %} class="active" {% endif %} href="#dnscache"
                        onclick="activeTab(3)">Cache</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="dnsservers">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">DNS Servers</h4>
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th style="width:35%">Name</th>
                                <th style="width:35%">IP Address</th>
                                <th style="width:15%">Status</th>
                                <th style="width:15%">TLS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for server_info in dns_settings['dns_servers'].values() %}
                            <form action="/settings/dns" method="POST">
                                <tr>
                                    <td>
                                        <input type="text" name="dnsname{{loop.index}}" value="{{server_info['name']}}" class="validate center">
                                    </td>
                                    <td>
                                        <input type="text" name="dnsserver{{loop.index}}" value="{{server_info['ip_address']}}" class="validate center">
                                    </td>
                                    <td>{{server_info['dns_up']}}</td>
                                    <td>{{server_info['tls_down']}}</td>
                                </tr>
                            </form>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="input-field col s12 m2 offset-m5">
                            <a class="waves-effect waves-light btn modal-trigger col s12" href="#dns-modal2">Update</a>
                            <div id="dns-modal2" class="modal">
                                <div class="modal-content">
                                    <h5 class="red-text">Changing DNS servers will restart the WAN interface. Continue?</h5>
                                </div>
                                <form action="/settings/dns" method="POST">
                                    <div class="modal-footer">
                                        <button class="btn waves-effect waves-light" name="dns_update">YES</button>
                                        <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                        <input type="hidden" name="tab" value="1">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Additional Options</h4>
                    <form action="/settings/dns" method="POST">
                        <input type="hidden" name="tab" value="1">
                        <input type="hidden" name="dns_protocol_update">
                        <div class="row">
                            <div class="input-field col s3 offset-s3 center">
                                DNS over TLS (Encrypted)
                                <div class="switch">
                                    <label>
                                        Off
                                        {% set val = "0" if dns_settings['tls'] else "1" %}
                                        <input type="checkbox" name="dns_over_tls" value="{{val}}" onchange="this.form.submit()"
                                            {% if dns_settings['tls'] %} checked="checked" {% endif %}>
                                        <span class="lever"></span>
                                        On
                                    </label>
                                </div>
                            </div>
                            <div class="input-field col s3 center">
                                UDP Fallback (On DoT Failure)
                                <div class="switch">
                                    <label>
                                        Off
                                        {% if not dns_settings['tls'] %}
                                        <input disabled type="checkbox" name="udp_f">
                                        <input type="hidden" name="udp_fallback">
                                        {% else %}
                                        {% set val = "0" if dns_settings['udp_fallback'] else "1" %}
                                        <input type="checkbox" name="udp_fallback" value="{{val}}" onchange="this.form.submit()"
                                            {% if dns_settings['udp_fallback'] %} checked="checked" {% endif %}>
                                        {% endif %}
                                        <span class="lever"></span>
                                        On
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="dnsrecords">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Create (A) Record</h4>
                    <form action="/settings/dns" method="POST">
                        <input type="hidden" name="tab" value="2">
                        <div class="row">
                            <div class="input-field col s4 {{input_color}}">
                                <input type="text" name="dns_record_name" class="validate" placeholder="homepc.local" required>
                                <label for="">Domain Name</label>
                            </div>
                            <div class="input-field col s4 {{input_color}}">
                                <input type="text" name="dns_record_ip" {{ip_addr_validate}} placeholder="192.168.83.67" required>
                                <label for="">IP Address</label>
                            </div>
                            <div class="input-field col s2 offset-s1">
                                <button class="btn waves-effect waves-light col s12" name="dns_record_update">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Record List</h4>
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th style="width:10%"></th>
                                <th style="width:45%">Domain Name</th>
                                <th style="width:45%">IP Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for name, ip_address in dns_settings['dns_records'] %}
                            <tr>
                                <td>
                                    <a class="btn-floating btn-small red waves-effect waves-light modal-trigger
                                    {% if name == 'dnx.rules' %} disabled {% endif %}"
                                        href="#dns-modal3-{{loop.index}}"><i class="material-icons">remove</i></a>
                                    <div id="dns-modal3-{{loop.index}}" class="modal">
                                        <div class="modal-content">
                                            <h5 class="red-text">Are you sure you want to remove the DNS Record?</h5>
                                        </div>
                                        <form action="/settings/dns" method="POST">
                                            <div class="modal-footer">
                                                <button class="btn waves-effect waves-light">YES</button>
                                                <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                                <input type="hidden" name="tab" value="2">
                                                <input type="hidden" name="dns_record_remove" value="{{name}}">
                                            </div>
                                        </form>
                                    </div>
                                </td>
                                <td>{{name}}</td>
                                <td>{{ip_address}}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="dnscache">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Clear Cache</h4>
                    <form action="/settings/dns" method="POST">
                        <input type="hidden" name="tab" value="3">
                        <div class="row">
                            <div class="col s0 m3"></div>
                            <div class="input-field col s4 m2">
                                TOP DOMAINS
                                <div class="switch">
                                    <label>
                                        {% set val = "0" if dns_settings['cache']['clear_top_domains'] else "1" %}
                                        <input type="checkbox" name="top_domains" value="{{val}}"
                                        {% if dns_settings['cache']['clear_top_domains'] %} checked="checked" {% endif %}>
                                        <span class="lever"></span>
                                        Clear
                                    </label>
                                </div>
                            </div>
                            <div class="input-field col s4 m2">
                                STANDARD
                                <div class="switch">
                                    <label>
                                        {% set val = "0" if dns_settings['cache']['clear_dns_cache'] else "1" %}
                                        <input type="checkbox" name="dns_cache" value="{{val}}"
                                        {% if dns_settings['cache']['clear_dns_cache'] %} checked="checked" {% endif %}>
                                        <span class="lever"></span>
                                        Clear
                                    </label>
                                </div>
                            </div>
                            <div class="input-field col s2">
                                <a class="waves-effect waves-light btn modal-trigger col s12" href="#dns-modal4">Submit</a>
                            </div>
                            <div id="dns-modal4" class="modal">
                                <div class="modal-content">
                                    <h5 class="red-text">Initiating DNS cache clear cannot be undone and can take a
                                        few minutes to process. Are you sure you want to proceed?</h5>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn waves-effect waves-light" name="dns_cache_clear">Continue</button>
                                    <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Top Domains</h4>
                    <table class="striped centered">
                        <thead>
                            <th style="width:25%">Ranking</th>
                            <th style="width:75%">Domain</th>
                        </thead>
                        <tbody>
                            {% for domain, count in dns_settings['top_domains'] %}
                            <tr>
                                <td>{{count}}</td>
                                <td>{{domain}}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
