{% extends('layout.html') %}
{% block body %}
  <section id="tabs-bar">
    <div class="container">
      <div class="row">
        <div class="col s8 offset-s2">
          <div class="card-panel hoverable {{ theme.card }}">
            <ul class="tabs tabs-fixed-width">
              {{ create_tab(tab, 1, 'overview')|safe }}
              {{ create_tab(tab, 2, 'configure')|safe }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="overview" class="section">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card-panel hoverable {{ theme.card }}">
            <table class="centered highlight">
              {{ create_title('builtin', classes='center')|safe }}
              <colgroup>
                <col span="4" style="background-color:#eceff1">
                <col span="2" style="background-color:#90a4ae">
                <col span="2" style="background-color:#cfd8dc">
              </colgroup>
              <thead>
                <tr>
                  <th colspan="4">General</th>
                  <th colspan="2">Transmit</th>
                  <th colspan="2">Receive</th>
                </tr>
                <tr>
                  <th>id</th>
                  <th>name</th>
                  <th>zone</th>
                  <th>subnet</th>
                  <th>bytes</th>
                  <th>packets</th>
                  <th>bytes</th>
                  <th>packets</th>
                </tr>
              </thead>
              <tbody>
              {% for intf in interface_settings.overview['builtin'] %}
                <tr>
                  <td>{{ intf[0][0] }}</td>
                  <td>{{ intf[0][1] }}</td>
                  <td>{{ intf[0][2] }}</td>
                  <td>{{ intf[0][3] }}</td>
                  <td>{{ intf[1][0] }}</td>
                  <td>{{ intf[1][1] }}</td>
                  <td>{{ intf[2][0] }}</td>
                  <td>{{ intf[2][1] }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <br>
            <table class="centered highlight">
              {{ create_title('extended', classes='center')|safe }}
              <colgroup>
                <col span="4" style="background-color:#eceff1">
                <col span="2" style="background-color:#90a4ae">
                <col span="2" style="background-color:#cfd8dc">
              </colgroup>
              <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>zone</th>
                <th>subnet</th>
                <th>bytes</th>
                <th>packets</th>
                <th>bytes</th>
                <th>packets</th>
              </tr>
              </thead>
              <tbody>
              {% for intf in interface_settings.overview.extended %}
                <tr>
                  <td>{{ intf[0][0] }}</td>
                  <td>{{ intf[0][1] }}</td>
                  <td>{{ intf[0][2] }}</td>
                  <td>{{ intf[0][3] }}</td>
                  <td>{{ intf[1][0] }}</td>
                  <td>{{ intf[1][1] }}</td>
                  <td>{{ intf[2][0] }}</td>
                  <td>{{ intf[2][1] }}</td>
                </tr>
              {% else %}
                <tr>
                  <td>none</td>
                  <td>none</td>
                  <td>none</td>
                  <td>none</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% if interface_settings.overview.unassociated %}
            <br>
            <table class="centered highlight">
              {{ create_title('unassociated', classes='center')|safe }}
              <colgroup>
                <col span="4" style="background-color:#eceff1">
                <col span="2" style="background-color:#90a4ae">
                <col span="2" style="background-color:#cfd8dc">
              </colgroup>
              <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>zone</th>
                <th>subnet</th>
                <th>bytes</th>
                <th>packets</th>
                <th>bytes</th>
                <th>packets</th>
              </tr>
              </thead>
              <tbody>
              {% for intf in interface_settings.overview.unassociated %}
                <tr>
                  <td>{{ intf[0][0] }}</td>
                  <td>{{ intf[0][1] }}</td>
                  <td>{{ intf[0][2] }}</td>
                  <td>{{ intf[0][3] }}</td>
                  <td>{{ intf[1][0] }}</td>
                  <td>{{ intf[1][1] }}</td>
                  <td>{{ intf[2][0] }}</td>
                  <td>{{ intf[2][1] }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="configure" class="section">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card-panel hoverable {{ theme.card }}">
            <table class="interfaces-cfg-table centered highlight">
              {{ create_title('interface list')|safe }}
              <colgroup>
                <col span="2" style="background-color:#eceff1">
                <col span="6" style="background-color:#90a4ae">
              </colgroup>
              <thead>
                <tr>
                  <th colspan="2">ID</th>
                  <th colspan="6">Configuration</th>
                </tr>
                <tr>
                  <th>id</th>
                  <th>mac address</th>
                  <th>zone</th>
                  <th>name</th>
                  <th>dhcp</th>
                  <th>ip address</th>
                  <th>netmask</th>
                  <th>gateway</th>
                </tr>
              </thead>
              <tbody class="interfaces-cfg-table-body">
              {% for intf_type in ['builtin', 'extended'] %}
              {% for intf in interface_settings.configuration[intf_type] %}
                <tr id="{{ intf_type }}/{{ loop.index }}">
                  <td class="iid">{{ intf[1] }}</td>
                  <td class="imac">{{ intf[2] }}</td>
                  <td class="izone">{{ intf[3] }}</td>
                  <td class="iname">{{ intf[4] }}</td>
                  <td class="idhcp">{{ intf[5] }}</td>
                  <td class="iipa">{{ intf[6] }}</td>
                  <td class="inetmask">{{ intf[7] }}</td>
                  <td class="igw">{{ intf[8] }}</td>
                </tr>
              {% endfor %}
              {% endfor %}
              </tbody>
            </table>
         </div>
      </div>
    </div>
  </div>
</section>
<div class="interfaces-cfg-table-form modal z-depth-5">
  <form method="post">
    <input type="hidden" name="tab" value="2">
    <input type="hidden" name="intf_update">
    <div class="row">
      <div class="col">
        <h6 class="eid {{ theme.title }}"></h6>
      </div>
      <div>
        <h4 class="{{ theme.title }}" style="float: right;">Edit Interface</h4>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m4 {{input_color}}">
        <input id="ename" class="ename validate" type="text" data-length="25">
        <label for="ename">Name</label>
      </div>
      <div class="input-field col s12 m4 {{input_color}}">
        <select name="zone" id="ezone" class="ezone no-autoinit">
        {% for z_id, z_name in interface_settings.zone_list %}
          <option value="{{ z_id }}/{{ z_name }}">{{ z_name }}</option>
        {% endfor %}
        </select>
        <label for="ezone">Zone</label>
      </div>
      {# need to deal with this because input-field class is on div, not input #}
    </div>
    <div class="row">
      <div class="input-field col s3 {{input_color}}">
        <div class="switch">
          <label>
            static
            <input class="edhcp" type="checkbox" checked="checked" name="dhcp_state" onclick="toggleFormField(this.checked, ['eipa', 'enetmask', 'egw'])">
            <span class="lever"></span>
            dhcp
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <table class="centered">
        <tbody>
          <tr class="no-border">
            <td>
              <div class="input-field col center {{input_color}}">
                <input id="eipa" class="eipa validate" type="text" data-length="15">
                <label for="eipa">IP Address</label>
              </div>
            </td>
            <td>
              <div class="input-field col center {{input_color}}">
                <input id="enetmask" class="enetmask validate" type="text" data-length="15">
                <label for="enetmask">Netmask</label>
              </div>
            </td>
            <td>
              <div class="input-field col center {{input_color}}">
                <input id="egw" class="egw validate" type="text" data-length="15">
                <label for="egw">Gateway</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="modal-footer">
        <a class="btn waves-effect waves-light" onclick="this.form.submit()">Submit</a>
        <a class="btn-flat modal-close waves-effect waves-green">Cancel</a>
      </div>
    </div>
  </form>
</div>
<script>
class InterfacesCFGTable extends DNXWebuiTableFormModal {

  _update_form_from_row(selected_table_row) {
    const fields = ['id', 'name', 'zone', 'dhcp', 'ipa', 'netmask', 'gw']

    let disable_inputs = false;

    this.form_el.querySelector('.eid').value = selected_table_row.id;

    for (let field of fields) {
      let table_row_field = selected_table_row.querySelector(`.i${field}`);
      let table_form_field = this.form_el.querySelector(`.e${field}`);

      if (field === 'id') {
        table_form_field.innerText = table_row_field.innerText;
      }
      else if (field === 'zone') {
        let zone_select = M.FormSelect.getInstance(this.form_el.querySelector('.ezone'));

        if (this.debug) {
          console.log('zone select: ', zone_select);
        }

        let zone_array = zone_select.wrapper.children[1].children;

        if (this.debug) {
          console.log('zone array: ', zone_array);
        }

        for (let zone_idx = 0; zone_idx < zone_array.length; zone_idx++) {
          console.log(zone_array[zone_idx].innerText, table_form_field.innerText)
          if (zone_array[zone_idx].innerText === table_form_field.innerText) {
            {#zone_array[i].selected = true;#}
            zone_array[zone_idx].classList.add('selected');
          }
          else {
            {#zone_array[i].selected = false;#}
            zone_array[zone_idx].classList.remove('selected');
          }
        }
      }
      else if (field === 'dhcp') {
        table_form_field.checked = table_row_field.innerText.toLowerCase() === 'on';
        if (table_form_field.checked) {
          disable_inputs = true;
        }
      }
      else {
        let input_field = table_form_field.parentNode;

        table_form_field.remove();

        let input = document.createElement('input');
        input.id = 'e' + field;
        input.name = field;
        input.type = 'text';
        input.className = 'e' + field + ' validate';
        input.value = table_row_field.innerText

        if (['ipa', 'netmask', 'gw'].includes(field) && disable_inputs) {
          input.disabled = true;
        }

        input_field.prepend(input);

        input_field.children[1].className = 'active';

        input_field.prepend(input);
      }
    }
  }
  // form is being submitted to server directly
  _update_row_from_form() {
    this.form_el.form.submit();
  }
}
</script>
<script>
const interfaces_cfg_table = new InterfacesCFGTable('interfaces-cfg-table', debug=true);
interfaces_cfg_table.initialize_form();
</script>
<style>
/* popup window */
.intf-configure-form {
    width: 40%;
    max-height: 80%;
    overflow: hidden;
    padding: 2em;
}
</style>
{% endblock %}