{% extends('layout.html') %}
{% block body %}
<div class="container center">
    <div class="row">
        <div class="col s12 m12">
            <h2 class="red-text"><i class="material-icons medium">block</i> Page Blocked</h2>
            <h4>You have been redirected by DNXFIREWALL (security appliance)</h4>
            <a class="waves-effect waves-light btn modal-trigger" href="#block-modal">More Details</a>
            <div id="block-modal" class="modal">
                <div class="modal-content">
                    <h4 class="red-text"><i class="material-icons medium">security</i> DNXFIREWALL - Blocked</h4>
                    <p>Your IP: {{src_ip}}<br>URL: {{blocked.domain}}<br>
                        Category: {{blocked.category}}<br>Reason: {{blocked.reason}}</p>
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effect waves-green btn-flat">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
