{% extends('layout.html') %}
{% block body %}
<div id="device-modal" class="modal modal-pop">
  <div class="modal-content">
    <h5 class="{{ modal_text_style }}">Are you sure you want to {{ action }} the system?</h5>
  </div>
  <div class="row right">
    <div class="input-field col s5">
      <form method="post">
        <button class="btn waves-effect waves-light" name="system_{{action}}" value="YES">YES</button>
      </form>
    </div>
    <div class="input-field col s5">
      <form method="post">
        <button class="btn waves-effect waves-light" name="system_{{action}}" value="NO">NO</button>
      </form>
    </div>
  </div>
</div>
{% if control %}
<script>
document.addEventListener('DOMContentLoaded', () => {
  let modal = document.querySelector('#device-modal');

  if (modal) {
      M.Modal.init(modal, {dismissible: false}).open();
  }
})
</script>
{% elif confirmed %}
{% set message = 'The system is now restarting. This can take a few minutes.' if action == 'restart'
        else 'The system is being shutdown. Please wait a few minutes before unplugging the device from power.' %}
<section class="section">
  <div class="container">
    <h4 class="red-text">{{ message }}</h4>
  </div>
</section>
{% endif %}
{% endblock %}
