{% extends('layout.html') %}
{% block body %}
<section class="section {{theme.main_section}}">
    <div class="container">
        <div class="col s12 center">
            <i class="material-icons large orange-text">warning</i>
        </div>
        <h5 class="black-text center">You are not authorized to access this page directly. If you were redirected to this page and are seeing this
            message, the system may have detached from the database. If it happens again, try restarting the device.
        </h5>
    </div>
</section>
{% endblock %}