{% extends('layout.html') %}
{% block body %}
<section id="tabs-bar" class="tabsbar">
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <ul class="tabs">
                    {{ create_tab(tab, 1, 'reputation')|safe }}
                    {{ create_tab(tab, 2, 'geolocation')|safe }}
                    {{ create_tab(tab, 3, 'lan-restrict')|safe }}
                </ul>
            </div>
        </div>
    </div>
</section>
<section {{ theme.section_bg|safe }} >
    <div class="col s12">
        <div class="multi-switch-container sec-profiles">
            <ul class="pagination multi-switch sec-profiles">
                <li{% if ip_settings.sec_profile == 1 %} class="disabled"{% endif %}>
                    <button name="ip_profile" value="<"><i class="material-icons">chevron_left</i></button>
                </li>
                {% for profile in range(1,16) %}
                <li class="multi-switch-on{% if ip_settings.sec_profile == profile %} active{% endif %}">
                    <button name="ip_profile" value="{{ profile }}">{{ profile }}</button>
                </li>
                {% endfor %}
                <li{% if ip_settings.sec_profile == 15 %} class="disabled"{% endif %}>
                    <button name="ip_profile" value=">"><i class="material-icons">chevron_right</i></button>
                </li>
            </ul>
        </div>
    </div>
</section>
{% set cat_options = [(0,'radio_button_unchecked'), (1,'file_upload'), (1,'file_download'), (1,'swap_vert')] %}
<section {{ theme.section_bg|safe }} id="reputation" class="section {{theme.main_section}}">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card-panel hoverable {{theme.card}}">
                    <h4 class="{{theme.title}}">Reputation</h4>
                    <div class="title-divider"></div>
                    {% for category, direction in ip_settings['reputation'] %}
                    {% if not loop.index0 % 4 %}<div class="row">{% endif %}
                        <div class="col s3">
                            <div class="row row-thin">
                                <p class="multi-switch-label center">{{ category.title().replace('_', ' ') }}</p>
                            </div>
                            <div class="row row-thin">
                                <div class="multi-switch-container">
                                    <ul class="multi-switch">
                                    {% for on, option in cat_options %}
                                        {% set status = "multi-switch-on" if on else "multi-switch-off" %}
                                        <li class="{{ status }}{% if direction == loop.index0 %} active {% endif %}">
                                            <button name="reputation" value="{{ category }}/{{ loop.index0 }}" onclick="updateCategory(this)">
                                                <i class="material-icons small">{{ option }}</i>
                                            </button>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% if loop.index0 % 4 == 3 or loop.last%}</div>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section {{ theme.section_bg|safe }} id="geolocation" class="section {{theme.main_section}}">
    <div class="container">
        <div class="col s12">
            <div class="card-panel hoverable {{theme.card}}">
                <h4 class="{{theme.title}}">Geolocation</h4>
                <div class="title-divider"></div>
                <div class="row">
                    <form method="POST">
                        <input type="hidden" name="tab" value="2">
                        <input type="hidden" name="change_geo_view">
                        <div class="input-field col s5 m3 offset-m1 {{input_color}}">
                            <select name="region" onchange="this.form.submit()">
                                {% for region in ip_settings['regions'] %}
                                <option value="{{region}}" {% if region == ip_settings['geolocation']['region'] %}
                                        selected {% endif %}>{{region.replace('_', ' ').upper()}}</option>
                                {% endfor %}
                            </select>
                            <label for="region">Region</label>
                        </div>
                        <div class="input-field col s5 m3 {{input_color}}">
                            <select name="menu_dir" id="menu_dir" onchange="this.form.submit()">
                                {% for dir in ['off', 'outbound', 'inbound', 'both', 'on', 'all'] %}
                                <option value="{{loop.index0}}" {% if ip_settings['geolocation']['menu_dir'] == loop.index0 %}
                                        selected {% endif %}>{{dir.upper()}}</option>
                                {% endfor %}
                            </select>
                            <label for="menu_dir">Direction</label>
                        </div>
                    </form>
                </div>
                {% for country, direction in ip_settings['geolocation']['countries'] %}
                {% if not loop.index0 % 4 %}<div class="row">{% endif %}
                    <div class="col s3">
                        <div class="row row-thin">
                            <p class="multi-switch-label center">{{ country.title().replace('_', ' ') }}</p>
                        </div>
                        <div class="row row-thin">
                            <div class="multi-switch-container">
                                <ul class="multi-switch">
                                {% for on, option in cat_options %}
                                    {% set status = "multi-switch-on" if on else "multi-switch-off" %}
                                    <li class="{{ status }}{% if direction == loop.index0 %} active {% endif %}">
                                        <button name="country" value="{{ country }}/{{ loop.index0 }}" onclick="updateCategory(this)">
                                            <i class="material-icons small">{{ option }}</i>
                                        </button>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% if loop.index0 % 4 == 3 or loop.last%}</div><div class="divider"></div>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section {{ theme.section_bg|safe }} id="lan-restrict" class="section {{theme.main_section}}">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card-panel hoverable {{theme.card}}">
                    <h4 class="{{theme.title}}">LAN Restrict</h4>
                    <form method="post">
                        <input type="hidden" name="tab" value="3">
                        <div class="col s12">
                            <h6>Start Time</h6>
                            <div class="row">
                                <div class="input-field col s12 m3 {{input_color}}">
                                    <label>
                                        Hour
                                        <input type="number" name="hour" min="0" max="12" value="{{ip_settings['tr_settings']['hour']}}">
                                    </label>
                                </div>
                                <div class="input-field col s12 m3 {{input_color}}">
                                    <label>
                                        Minute
                                        <input type="number" name="minutes" min="0" max="45" step="15" value="{{ip_settings['tr_settings']['minutes']}}">
                                    </label>
                                </div>
                                <div class="input-field col s12 m2 {{input_color}}">
                                    <label>
                                        <select name="time_suffix">
                                            <option value="AM" {% if ip_settings['tr_settings']['suffix']=='AM' %} selected{% endif %}>AM</option>
                                            <option value="PM" {% if ip_settings['tr_settings']['suffix']=='PM' %} selected{% endif %}>PM</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <h6>Duration</h6>
                            <div class="row">
                                <div class="input-field col s12 m3 {{input_color}}">
                                    <label>
                                        Hours
                                        <input type="number" name="tlen_hour" min="0" max="11" value="{{ip_settings['tr_settings']['length_hour']}}">
                                    </label>
                                </div>
                                <div class="input-field col s12 m3 {{input_color}}">
                                    <label>
                                        Minutes
                                        <input type="number" name="tlen_minutes" min="0" max="45" step="15" value="{{ip_settings['tr_settings']['length_minutes']}}">
                                    </label>
                                </div>
                                <div class="input-field col s12 m6 center">
                                    <br>
                                    {{ create_switch('', 'restriction_enable',
                                        checked=ip_settings.tr_settings.enabled)|safe }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center">
                                <button class="btn waves-effect waves-light" name="time_res_update">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
async function updateCategory(category) {

    const cat_info = category.value.split('/');

    let cat_value = cat_info[0];
    let cat_opt   = cat_info[1];

    let response = await ajaxClient.post('/post', {'type': category.name, 'category': cat_value, 'direction': cat_opt});

    // manually changing the active button instead of using an event listener to prevent a switch on server errors.
    let error = ajaxClient.handleResponse(response, category);
    if (!error) {
        category.parentElement.parentElement.querySelector(".active").classList.remove("active");
        category.parentElement.classList.add("active");
    }

    category.preventDefault();
}
</script>
{% endblock %}
