{% extends('layout.html') %}
{% block body %}
<section id="tabs-bar" class="tabsbar">
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <ul class="tabs">
                    {{ create_tab(tab, 1, 'reputation')|safe }}
                    {{ create_tab(tab, 2, 'geolocation')|safe }}
                    {{ create_tab(tab, 3, 'lan-restrict')|safe }}
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="reputation" class="section {{main_section_color}}">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Reputation</h4>
                    {% for category, enabled in ip_settings['reputation'] %}
                    {% if loop.index0 in range(0,10,2) %}<div class="row">{% endif %}
                        <div class="input-field col s4 offset-s1">
                            <h6>{{category.title().replace('_', ' ')}}</h6>
                            <select name="reputation" onchange="updateCategory(this)">
                                <option value="{{category}}_0" {% if enabled==0 %} selected {% endif %}>OFF</option>
                                <option value="{{category}}_1" {% if enabled==1 %} selected {% endif %}>OUTBOUND</option>
                                <option value="{{category}}_2" {% if enabled==2 %} selected {% endif %}>INBOUND</option>
                                <option value="{{category}}_3" {% if enabled==3 %} selected {% endif %}>BOTH</option>
                            </select>
                        </div>
                    {% if loop.last or loop.index0 in range(1,10,2)  %}</div>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section id="geolocation" class="section {{main_section_color}}">
    <div class="container">
        <div class="col s12">
            <div class="card-panel hoverable {{card_color}}">
                <h4 class="{{title_color}}">Geolocation</h4>
                <div class="row">
                    <form method="POST">
                        <input type="hidden" name="tab" value="2">
                        <input type="hidden" name="change_geo_view">
                        <div class="input-field col s5 m3 offset-m1 {{input_color}}">
                            <select name="region" onchange="this.form.submit()">
                                {% for region in ip_settings['regions'] %}
                                <option value="{{region}}" {% if region == ip_settings['geolocation']['region'] %}
                                        selected {% endif %}>{{region.replace('_', ' ').upper()}}</option>
                                {% endfor %}
                            </select>
                            <label for="region">Region</label>
                        </div>
                        <div class="input-field col s5 m3 {{input_color}}">
                            <select name="menu_dir" id="menu_dir" onchange="this.form.submit()">
                                {% for dir in ['off', 'outbound', 'inbound', 'both', 'on', 'all'] %}
                                <option value="{{loop.index0}}" {% if ip_settings['geolocation']['menu_dir'] == loop.index0 %}
                                        selected {% endif %}>{{dir.upper()}}</option>
                                {% endfor %}
                            </select>
                            <label for="menu_dir">Direction</label>
                        </div>
                    </form>
                </div>
                {% set cty_options = [(0,'radio_button_unchecked'), (1,'file_upload'), (1,'file_download'), (1,'swap_vert')] %}
                {% for country, direction in ip_settings['geolocation']['countries'] %}
                {% if not loop.index0 % 2 %}<div class="row">{% endif %}
                    <div class="col s6">
                        <div class="col s6">
                            <h6>{{ country.title().replace('_', ' ') }}</h6>
                        </div>
                        <div class="col s6">
                            <div class="multi-switch-container">
                                <ul class="multi-switch">
                                {% for on, option in cty_options %}
                                    {% set status = "multi-switch-on" if on else "multi-switch-off" %}
                                    {% set active = 1 if direction == loop.index0 else 0 %}
                                    <li class="{{ status }}{% if active %} active {% endif %}">
                                        <button {% if active %} class="active-text" {% endif %}
                                                name="country" value="{{ country }}/{{ loop.index0 }}"
                                                onclick="updateCategory(this)">
                                            <i class="material-icons small">{{ option }}</i>
                                        </button>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% if loop.index0 % 2 or loop.last%}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section id="lan-restrict" class="section {{main_section_color}}">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">LAN Restrict</h4>
                    <form method="post">
                        <input type="hidden" name="tab" value="3">
                        <div class="col s12">
                            <h6>Start Time</h6>
                            <div class="row">
                                <div class="input-field col s12 m3 {{input_color}}">
                                    <label>
                                        Hour
                                        <input type="number" name="hour" min="0" max="12" value="{{ip_settings['tr_settings']['hour']}}">
                                    </label>
                                </div>
                                <div class="input-field col s12 m3 {{input_color}}">
                                    <label>
                                        Minute
                                        <input type="number" name="minutes" min="0" max="45" step="15" value="{{ip_settings['tr_settings']['minutes']}}">
                                    </label>
                                </div>
                                <div class="input-field col s12 m2 {{input_color}}">
                                    <label>
                                        <select name="time_suffix">
                                            <option value="AM" {% if ip_settings['tr_settings']['suffix']=='AM' %} selected{% endif %}>AM</option>
                                            <option value="PM" {% if ip_settings['tr_settings']['suffix']=='PM' %} selected{% endif %}>PM</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <h6>Duration</h6>
                            <div class="row">
                                <div class="input-field col s12 m3 {{input_color}}">
                                    <label>
                                        Hours
                                        <input type="number" name="tlen_hour" min="0" max="11" value="{{ip_settings['tr_settings']['length_hour']}}">
                                    </label>
                                </div>
                                <div class="input-field col s12 m3 {{input_color}}">
                                    <label>
                                        Minutes
                                        <input type="number" name="tlen_minutes" min="0" max="45" step="15" value="{{ip_settings['tr_settings']['length_minutes']}}">
                                    </label>
                                </div>
                                <div class="input-field col s12 m6 center">
                                    <br>
                                    {{ create_switch('', 'restriction_enable',
                                        checked=ip_settings.tr_settings.enabled)|safe }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center">
                                <button class="btn waves-effect waves-light" name="time_res_update">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
async function updateCategory(category) {

    const cat_info = category.value.split('/');

    let cat_value = cat_info[0];
    let cat_opt   = cat_info[1];

    let response = await ajaxClient.post('/post', {'type': category.name, 'category': cat_value, 'direction': cat_opt});

    let error = ajaxClient.handleResponse(response, category);

    if (!error) {
        console.log(category);
    }
    // swap active button here
}
</script>
{% endblock %}
