{% extends('layout.html') %}
{% block body %}
<section id="tabs-bar" class="tabsbar">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="{{tab_classes}}"><a {% if tab==1 %} class="active" {% endif %}
                        href="#ips" onclick="activeTab(1)">IPS/IDS</a></li>
                    <li class="{{tab_classes}}"><a {% if tab==2 %} class="active" {% endif %}
                        href="#ips-whitelist" onclick="activeTab(2)">Whitelist</a></li>
                    <li class="{{tab_classes}}"><a {% if tab==3 %} class="active" {% endif %}
                        href="#ips-pbl" onclick="activeTab(3)">Block List</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="ips" class="section {{main_section_color}}">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Denial Of Service</h4>
                    <form action="/intrusion/ips" method="POST">
                        <input type="hidden" name="tab" value="1">
                        <input type="hidden" name="ddos_limits">
                        <div class="row">
                            <div class="input-field col s12 {{input_color}}">
                                <p class="range-field">
                                    <input type="range" name="tcp_limit" min="5" max="100"
                                        value="{{ips_settings['ddos']['tcp']}}">
                                    <label for="tcp_limit">TCP Source Limit (conns/sec) | Current:
                                        {{ips_settings['ddos']['tcp']}}
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 {{input_color}}">
                                <p class="range-field">
                                    <input type="range" name="udp_limit" min="5" max="100"
                                        value="{{ips_settings['ddos']['udp']}}">
                                    <label for="udp_limit">UDP Source Limit (unique/sec) | Current:
                                        {{ips_settings['ddos']['udp']}}
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 {{input_color}}">
                                <p class="range-field">
                                    <input type="range" name="icmp_limit" min="5" max="100"
                                        value="{{ips_settings['ddos']['icmp']}}">
                                    <label for="icmp_limit">ICMP Source Limit (packets/sec) | Current:
                                        {{ips_settings['ddos']['icmp']}}
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light col s4">Update</button>
                            {{ create_switch('Enabled', 'ddos_enabled', checked=ips_settings.enabled)|safe }}
                        </div>
                    </form>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">General Settings</h4>
                    <div class="row">
                        {{ create_switch('IDS Mode', 'ids_mode', checked=ips_settings.ids_mode)|safe }}
                        <form method="POST">
                            <input type="hidden" name="tab" value="1">
                            <div class="input-field col s6 left {{input_color}}">
                                <select name="passive_block_length" onchange="this.form.submit()">
                                    <option value="0" {% if ips_settings['length']==0 %} selected {% endif %}
                                        >disabled</option>
                                    <option value="24" {% if ips_settings['length']==24 %} selected {% endif %}
                                        >24 hours</option>
                                    <option value="48" {% if ips_settings['length']==48 %} selected {% endif %}
                                        >48 hours</option>
                                    <option value="72" {% if ips_settings['length']==72 %} selected {% endif %}
                                        >72 hours</option>
                                </select>
                                <label>Passive Block</label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Port Scan</h4>
                    <div class="row">
                        {{ create_switch('Enabled', 'ps_enabled', checked=ips_settings.port_scan.enabled)|safe }}
                        {{ create_switch('Reject', 'ps_reject', checked=ips_settings.port_scan.reject,
                            enabled=ips_settings.port_scan.enabled)|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ips-whitelist" class="section {{main_section_color}}">
    <div class="container">
        <div class="row row-flex">
            <div class="col s8">
                <div class="card-panel card-panel-eql hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Add IPS Whitelist</h4>
                    <form action="/intrusion/ips" method="POST">
                        <input type="hidden" name="tab" value="2">
                        <div class="row">
                            <div class="input-field col s4 {{input_color}}">
                                <input type="text" name="ips_wl_ip" class="validate" placeholder="127.0.0.1" required>
                                <label for="">IP Address</label>
                            </div>
                            <div class="input-field col s4 {{input_color}}">
                                <input type="text" name="ips_wl_name" class="validate" placeholder=dns required>
                                <label for="">Name</label>
                            </div>
                            <div class="input-field col s4">
                                <input type="hidden" name="ips_wl_add" value="ips_whitelist">
                                <button class="btn waves-effect waves-light col s12">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col s4">
                <div class="card-panel card-panel-eql hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Includes</h4>
                    {{ create_switch('DNS Servers', 'dns_svr_wl', tab=2,
                        checked=ips_settings.dns_server_whitelist)|safe }}
                </div>
            </div>
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Current Whitelist</h4>
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>IP Address</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ip_address, name in ips_settings.ip_whitelist.items() %}
                            <tr>
                                <td>
                                    <a class="btn-floating btn-small red waves-effect waves-light modal-trigger"
                                        href="#ips-modal3-{{loop.index}}"><i class="material-icons">remove</i></a>
                                    <div id="ips-modal3-{{loop.index}}" class="modal">
                                        <div class="modal-content">
                                            <h5 class="{{modal_text_style}}">Are you sure you want to remove the IPS whitelist rule?</h5>
                                        </div>
                                        <form action="/intrusion/ips" method="POST">
                                            <input type="hidden" name="tab" value="2">
                                            <input type="hidden" name="ips_wl_ip" value="{{ip_address}}">
                                            <div class="modal-footer">
                                                <button class="btn waves-effect waves-light" name="ips_wl_remove">YES</button>
                                                <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                                <td>{{ip_address}}</td>
                                <td>{{name}}</td>
                            </tr>
                            {% else %}
                            <tr>
                                {% for i in range(4) %}
                                <td></td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ips-pbl" class="section {{main_section_color}}">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Passively Blocked Hosts</h4>
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th style="width:25%"></th>
                                <th style="width:50%">Host IP Address</th>
                                <th style="width:25%">Time Entered</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for host, timestamp, ftime in ips_settings.passively_blocked_hosts %}
                            <tr>
                                <td>
                                    <a class="btn-floating btn-small red waves-effect waves-light modal-trigger"
                                        href="#ips-modal4-{{loop.index}}"><i class="material-icons">remove</i></a>
                                    <div id="ips-modal4-{{loop.index}}" class="modal">
                                        <div class="modal-content">
                                            <h5 class="{{modal_text_style}}">Are you sure you want to remove the passively blocked host?</h5>
                                        </div>
                                        <form action="/intrusion/ips" method="POST">
                                            <input type="hidden" name="tab" value="3">
                                            <div class="modal-footer">
                                                <button class="btn waves-effect waves-light" name="ips_pbl_remove" value="{{host}}/{{timestamp}}">YES</button>
                                                <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                                <td>{{host}}</td>
                                <td>{{ftime}}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
