[Unit]
Description=DNX Firewall Update Service
After=dnx-log.service dnx-syslog.service
StartLimitIntervalSec=3

[Service]
Type=simple
Restart=always
RestartSec=3
User=dnx
ExecStart=/usr/bin/python3 /home/dnx/dnxfirewall/dnx_updates/upd_updates.py
Environment=HOME_DIR=/home/dnx/dnxfirewall
Environment=UPDATES_SVR=https://updates.dnxsec.com:6969
Environment=LICENSE_SVR=updates.dnxsec.com
Environment=LICENSE_PORT=6996

[Install]
WantedBy=multi-user.target
