# After=postgresql.service needed when using psql

[Unit]
Description=DNXFIREWALL Database Entry Service (used by security modules)
After=network.target
StartLimitIntervalSec=3

[Service]
Type=simple
Restart=always
RestartSec=3
User=dnx
ExecStart=/usr/bin/python3 /home/dnx/dnxfirewall/dnx_database/ddb_main.py
Environment=HOME_DIR=/home/dnx/dnxfirewall

[Install]
WantedBy=multi-user.target