[Unit]
Description=DNX Firewall IPS Service
After=dnx-log.service dnx-syslog.service
StartLimitIntervalSec=3

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/usr/bin/python3 /home/dnx/dnxfirewall/dnx_ips/dnx_ips.py
Environment=HOME_DIR=/home/dnx/dnxfirewall

[Install]
WantedBy=multi-user.target
