<div class="fixed-action-btn click-to-toggle no-autoinit">
    <a class="btn-floating btn-large teal darken-2 waves-effect waves-light">
        <i class="material-icons">web</i>
    </a>
    <ul>
        <li>
            <form method="PUT">
                {% if session['dark_mode'] %}
                <a>
                    <button class="btn btn-floating amber darken-2 waves-effect waves-light" name="dark_mode_update" value="0"
                        ><i class="material-icons">wb_sunny</i>
                    </button>
                </a>
                {% else %}
                <a>
                    <button class="btn btn-floating grey darken-3 waves-effect waves-light" name="dark_mode_update" value="1"
                        ><i class="material-icons">brightness_2</i>
                    </button>
                </a>
                {% endif %}
            </form>
        </li>
    </ul>
</div>