<div class="fixed-action-btn click-to-toggle no-autoinit">
    <a class="btn-floating btn-large teal darken-2 waves-effect waves-light">
        <i class="material-icons">web</i>
    </a>
    <ul>
        <li>
            <form method="PUT">
                <a>
                    {% if session['dark_mode'] %}
                    <button class="btn btn-floating amber darken-2 waves-effect waves-light"
                        name="dark_mode_update" value="0"><i class="material-icons">wb_sunny</i>
                    </button>
                    {% else %}
                    <button class="btn btn-floating grey darken-3 waves-effect waves-light"
                        name="dark_mode_update" value="1"><i class="material-icons">brightness_2</i>
                    </button>
                    {% endif %}
                </a>
            </form>
        </li>
    </ul>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let elems = document.querySelectorAll('.fixed-action-btn');
        M.FloatingActionButton.init(elems, {
            // direction: 'left',
            hoverEnabled: false,
            closeOnClick: false,
            constrainWidth: false
        });
    })
</script>