<div class="fixed-action-btn click-to-toggle no-autoinit">
    <a class="btn-floating btn-large teal darken-2 waves-effect waves-light">
        <i class="material-icons">web</i>
    </a>
    <form>
        <ul>
        {% if not theme.mode.light %}
            <li>
                <a><button class="btn btn-floating amber darken-2 waves-effect waves-light" name="theme" value="light">
                    <i class="material-icons">wb_sunny</i></button></a>
            </li>
        {% endif %}
        {% if not theme.mode.dark %}
            <li>
                <a><button class="btn btn-floating grey darken-3 waves-effect waves-light" name="theme" value="dark">
                    <i class="material-icons">brightness_2</i></button></a>
            </li>
        {% endif %}
        </ul>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let elems = document.querySelectorAll('.fixed-action-btn');
        M.FloatingActionButton.init(elems, {
            // direction: 'left',
            hoverEnabled: false,
            closeOnClick: false,
            constrainWidth: false
        });
    })
</script>