<footer class="page-footer blue-grey lighten-1">
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                <a class="brand-logo"><img src="/static/assets/images/dnx_logo_v3.png"
                        height="40px" style="display: block;"></a>
                <p class="grey-text text-lighten-4"><i>Raising the bottom line for internet security.</i></p>
            </div>
            <div class="col s12 l4 offset-l2">
                <ul>
                    <li><a class="white-text text-lighten-3" href="https://dnxfirewall.com" target="_blank">Help!</a></li>
                </ul>
            </div>
            <div class="col s12 left">
                &copy; 2023 Wright Network Solutions, LLC.
            </div>
        </div>
    </div>
    <div class="footer-copyright blue-grey darken-3"></div>
</footer>
