{
    "afghanistan": null,
    "albania": null,
    "algeria": null,
    "american_samoa": null,
    "andorra": null,
    "angola": null,
    "anguilla": null,
    "antigua_and_barbuda": null,
    "argentina": null,
    "armenia": null,
    "aruba": null,
    "australia": null,
    "austria": null,
    "azerbaijan": null,
    "bahamas": null,
    "bahrain": null,
    "bangladesh": null,
    "barbados": null,
    "belarus": null,
    "belgium": null,
    "belize": null,
    "benin": null,
    "bermuda": null,
    "bhutan": null,
    "bolivia": null,
    "bosnia_and_herzegovina": null,
    "botswana": null,
    "brazil": null,
    "british_indian_ocean_territory": null,
    "british_virgin_islands": null,
    "bulgaria": null,
    "burkina_faso": null,
    "burundi": null,
    "cambodia": null,
    "cameroon": null,
    "canada": null,
    "cayman_islands": null,
    "central_african_republic": null,
    "chad": null,
    "chile": null,
    "china": null,
    "christmas_island": null,
    "cocos_islands": null,
    "colombia": null,
    "comoros": null,
    "cook_islands": null,
    "costa_rica": null,
    "croatia": null,
    "cuba": null,
    "cyprus": null,
    "denmark": null,
    "djibouti": null,
    "dominica": null,
    "dominican_republic": null,
    "ecuador": null,
    "egypt": null,
    "el_salvador": null,
    "equatorial_guinea": null,
    "eritrea": null,
    "estonia": null,
    "ethiopia": null,
    "falkland_islands": null,
    "faroe_islands": null,
    "fiji": null,
    "finland": null,
    "france": null,
    "french_guiana": null,
    "french_polynesia": null,
    "gabon": null,
    "gambia": null,
    "georgia": null,
    "germany": null,
    "ghana": null,
    "gibraltar": null,
    "greece": null,
    "greenland": null,
    "grenada": null,
    "guadeloupe": null,
    "guam": null,
    "guatemala": null,
    "guernsey": null,
    "guinea": null,
    "guyana": null,
    "haiti": null,
    "honduras": null,
    "hong_kong": null,
    "hungary": null,
    "iceland": null,
    "india": null,
    "indonesia": null,
    "iran": null,
    "iraq": null,
    "ireland": null,
    "isle_of_man": null,
    "israel": null,
    "italy": null,
    "jamaica": null,
    "japan": null,
    "jersey": null,
    "jordan": null,
    "kazakhstan": null,
    "kenya": null,
    "kiribati": null,
    "kuwait": null,
    "kyrgyzstan": null,
    "laos": null,
    "latvia": null,
    "lebanon": null,
    "lesotho": null,
    "liberia": null,
    "libya": null,
    "liechtenstein": null,
    "lithuania": null,
    "luxembourg": null,
    "macao": null,
    "madagascar": null,
    "malawi": null,
    "malaysia": null,
    "maldives": null,
    "mali": null,
    "malta": null,
    "marshall_islands": null,
    "martinique": null,
    "mauritania": null,
    "mauritius": null,
    "mayotte": null,
    "mexico": null,
    "moldova": null,
    "mongolia": null,
    "montenegro": null,
    "montserrat": null,
    "morocco": null,
    "mozambique": null,
    "myanmar": null,
    "namibia": null,
    "nauru": null,
    "nepal": null,
    "netherlands": null,
    "new_caledonia": null,
    "new_zealand": null,
    "nicaragua": null,
    "niger": null,
    "nigeria": null,
    "niue": null,
    "norfolk_island": null,
    "north_korea": null,
    "northern_mariana_islands": null,
    "norway": null,
    "oman": null,
    "pakistan": null,
    "palau": null,
    "palestine": null,
    "panama": null,
    "papua_new_guinea": null,
    "paraguay": null,
    "peru": null,
    "philippines": null,
    "poland": null,
    "portugal": null,
    "puerto_rico": null,
    "qatar": null,
    "reunion": null,
    "romania": null,
    "russian_federation": null,
    "rwanda": null,
    "saint_helena": null,
    "saint_lucia": null,
    "saint_martin": null,
    "saint_pierre_and_miquelon": null,
    "samoa": null,
    "san_marino": null,
    "saudi_arabia": null,
    "senegal": null,
    "serbia": null,
    "seychelles": null,
    "sierra_leone": null,
    "singapore": null,
    "slovakia": null,
    "slovenia": null,
    "solomon_islands": null,
    "somalia": null,
    "south_africa": null,
    "south_korea": null,
    "south_sudan": null,
    "spain": null,
    "sri_lanka": null,
    "sudan": null,
    "suriname": null,
    "sweden": null,
    "switzerland": null,
    "syria": null,
    "taiwan": null,
    "tajikistan": null,
    "tanzania": null,
    "thailand": null,
    "togo": null,
    "tokelau": null,
    "tonga": null,
    "trinidad_and_tobago": null,
    "tunisia": null,
    "turkey": null,
    "turkmenistan": null,
    "turks_and_caicos_islands": null,
    "tuvalu": null,
    "uganda": null,
    "ukraine": null,
    "united_arab_emirates": null,
    "united_kingdom": null,
    "united_states": null,
    "uruguay": null,
    "us_minor_outlying_islands": null,
    "uzbekistan": null,
    "vanuatu": null,
    "venezuela": null,
    "vietnam": null,
    "western_sahara": null,
    "yemen": null,
    "zambia": null,
    "zimbabwe": null
}
