<header>
  <nav class="blue-grey">
    <div class="container">
      <div class="nav-wrapper">
        <a href="dashboard" class="brand-logo valign-center">
          <img src="/static/assets/images/dnx_logo_v3.png" height="40px" style="display: block;">
        </a>
        {% if navi %}
          <a href="dashboard" data-target="mobile-nav" class="sidenav-trigger show-mobile-menu">
            <i class="material-icons">menu</i>
          </a>
          {% if role == 'admin' %}
            <ul class="right remove-big-menu">
              <li {% if uri_path[0] == 'dashboard' %} class='active' {% endif %}>
                <a href="dashboard">
                  <i class="material-icons left grey-text text-lighten-1">dashboard</i>Dashboard
                </a>
              </li>
              <li {% if uri_path[0] == 'rules' %} class='active' {% endif %}>
                <a class="dropdown-trigger-hoverable" data-target="rules-dropdown">
                  <i class="material-icons left orange-text text-lighten-2">security</i>
                  Rules
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
              </li>
              <li {% if uri_path[0] == 'intrusion' %} class='active' {% endif %}>
                <a class="dropdown-trigger-hoverable" data-target="intrusion-dropdown">
                  <i class="material-icons left brown-text text-lighten-2">fingerprint</i>
                  Intrusion
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
              </li>
              <li {% if uri_path[0] == 'system' %} class='active' {% endif %}>
                <a class="dropdown-trigger-hoverable" data-target="system-dropdown">
                  <i class="material-icons left grey-text text-lighten-2">computer</i>
                  System
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
              </li>
              <li>
                <a class="dropdown-trigger-hoverable" data-target="device-dropdown">
                  <i class="material-icons left green-text text-lighten-2">power_settings_new</i>
                  Device
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
              </li>
              <li>
                <a href="logout">
                  <i class="material-icons left red-text text-lighten-2">logout</i>Logout
                </a>
              </li>
            </ul>
          {% elif role == 'user' %}
            <ul class="right remove-big-menu">
              <li {% if uri_path[0] == 'dashboard' %} class='active' {% endif %}>
                <a href="dashboard">
                  <i class="material-icons grey-text accent-2 left">dashboard</i>
                  Dashboard
                </a>
              </li>
              <li {% if uri_path[0] == 'system' and uri_path[1] == 'reports' %}
                class='active' {% endif %}>
                <a href="system/reports">
                  <i class="material-icons left">assignment_late</i>
                  Reports
                </a>
              </li>
              <li>
                <a href="logout">
                  <i class="material-icons orange-text lighten-1 left">logout</i>
                  Logout
                </a>
              </li>
            </ul>
          {% endif %}
        {% elif login_btn %}
          <a href="login">
            <i class="material-icons left">send</i>
            Login
          </a>
        {% else %}
          <i class="material-icons grey-text lighten-1">lock_outline</i>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
{% if navi and role == 'admin' %}
  <!-- full nav dropdown - large screens -->
  {# RULES DROPDOWN - TIER 2 #}
  <ul id="rules-dropdown" class="dropdown-content dropdown-content-trigger">
    <li {% if uri_path[1] == 'firewall' %} class='active' {% endif %}>
      <a href="rules/firewall" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">blur_linear</i>Firewall
      </a>
    </li>
    <li {% if uri_path[1] == 'nat' %} class='active' {% endif %}>
      <a href="rules/nat" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">call_split</i>NAT
      </a>
    </li>
  </ul>
  {# INTRUSION DROPDOWN - TIER 2 #}
  <ul id="intrusion-dropdown" class="dropdown-content dropdown-content-trigger">
    <li {% if uri_path[1] == 'domain' %} class='active' {% endif %}>
      <a href="intrusion/domain" class="dropdown-trigger-hoverable dropdown-trigger-nested
                {{ theme.nav_text }}" data-target="domain-dropdown" data-hover="hover">
        <i class="material-icons left {{ theme.icon|safe }}">dns</i>
        Domain
        <i class="material-icons right {{ theme.subnav_text }}">chevron_right</i>
      </a>
    </li>
    <li {% if uri_path[1] == 'ip' %} class='active' {% endif %}>
      <a href="intrusion/ip" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">public</i>IP
      </a>
    </li>
    <li {% if uri_path[1] == 'ips' %} class='active' {% endif %}>
      <a href="/intrusion/ips" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">report</i>IPS/IDS
      </a>
    </li>
  </ul>
  {# DOMAIN DROPDOWN - TIER 3 #}
  <ul id="domain-dropdown" class="dropdown-content dropdown-content-nested">
    <li {% if uri_path[2] == 'whitelist' %} class='active' {% endif %}>
      <a href="intrusion/domain/whitelist" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">thumb_up</i>Whitelist
      </a>
    </li>
    <li {% if uri_path[2] == 'blacklist' %} class='active' {% endif %}>
      <a href="intrusion/domain/blacklist" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">thumb_down</i>Blacklist
      </a>
    </li>
    <li {% if uri_path[2] == 'categories' %} class='active' {% endif %}>
      <a href="intrusion/domain/categories" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">library_books</i>Categories
      </a>
    </li>
  </ul>
  {# SYSTEM DROPDOWN - TIER 2#}
  <ul id="system-dropdown" class="dropdown-content dropdown-content-trigger">
    <li {% if uri_path[1] == 'backups' %} class='active' {% endif %}>
      <a href="system/backups" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">backup</i>Backups
      </a>
    </li>
    <li {% if uri_path[1] == 'log' %} class='active' {% endif %}>
      <a class="dropdown-trigger-hoverable dropdown-trigger-nested expand {{ theme.subnav_text }}"
         data-target="logs-dropdown">
        <i class="material-icons left {{ theme.icon|safe }}">folder</i>
        Logs
        <i class="material-icons right {{ theme.subnav_text }}">chevron_right</i>
      </a>
    </li>
    <li {% if uri_path[1] == 'services' %} class='active' {% endif %}>
      <a href="system/services" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">sync</i>Services
      </a>
    </li>
    <li {% if uri_path[1] == 'settings' %} class='active' {% endif %}>
      <a class="dropdown-trigger-hoverable dropdown-trigger-nested expand {{ theme.subnav_text }}"
         data-target="settings-dropdown">
        <i class="material-icons left {{ theme.icon|safe }}">settings</i>
        Settings
        <i class="material-icons right {{ theme.subnav_text }}">chevron_right</i>
      </a>
    </li>
    <li {% if uri_path[1] == 'users' %} class='active' {% endif %}>
      <a href="system/users" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">group</i>Users
      </a>
    </li>
  </ul>
  {# SETTINGS DROPDOWN - TIER 3 #}
  <ul id="settings-dropdown" class="dropdown-content dropdown-content-nested">
    <li {% if uri_path[1] == 'dns' %} class='active' {% endif %}>
      <a href="system/settings/dns" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">dns</i>DNS
      </a>
    </li>
    <li {% if uri_path[1] == 'dhcp' %} class='active' {% endif %}>
      <a href="system/settings/dhcp" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">filter_b_and_w</i>DHCP
      </a>
    </li>
    <li {% if uri_path[1] == 'interface' %} class='active' {% endif %}>
      <a href="system/settings/interface" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">format_italic</i>Interface
      </a>
    </li>
    <li {% if uri_path[1] == 'logging' %} class='active' {% endif %}>
      <a href="system/settings/logging" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">description</i>Logging
      </a>
    </li>
    {#    <li {% if uri_path[1] == 'syslog' %} class='active' {% endif %}>
            <a href="settings/syslog"><i class="material-icons {!icon_color}}">file_copy</i> Syslog</a></li>  #}
  </ul>
  {# LOGS DROPDOWN - TIER 3 #}
  <ul id="logs-dropdown" class="dropdown-content dropdown-content-nested">
    <li {% if uri_path[2] == 'traffic' %} class='active' {% endif %}>
      <a href="system/log/traffic" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">merge_type</i>Traffic
      </a>
    </li>
    <li {% if uri_path[2] == 'events' %} class='active' {% endif %}>
      <a href="system/log/events" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">whatshot</i>Events
      </a>
    </li>
    <li {% if uri_path[2] == 'system' %} class='active' {% endif %}>
      <a href="system/log/system" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">chrome_reader_mode</i>System
      </a>
    </li>
  </ul>
  {# DEVICE DROPDOWN - TIER 2 #}
  <ul id="device-dropdown" class="dropdown-content">
    <li {% if uri_path[1] == 'restart' %} class='active' {% endif %}>
      <a href="device/restart" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">refresh</i>Restart
      </a>
    </li>
    <li {% if uri_path[1] == 'shutdown' %} class='active' {% endif %}>
      <a href="device/shutdown" class="{{ theme.nav_text }}">
        <i class="material-icons {{ theme.icon|safe }}">power_settings_new</i>Shutdown
      </a>
    </li>
  </ul>
  <!-- end dropdown-->
  {% if False %}
    <!-- sidenav - small screens -->
    <ul class="sidenav" id="mobile-nav">
      <li {% if uri_path[0] == 'dashboard' %} class='active' {% endif %}>
        <a href="dashboard" class="{{ theme.nav_text }}">
          <i class="material-icons grey-text accent-2 left">dashboard</i>Dashboard
        </a>
      </li>
      <li {% if uri_path[0] == 'rules' %} class='active' {% endif %}>
        <a href="firewall" class="{{ theme.nav_text }}">
          <i class="material-icons {{ theme.icon|safe }}">security</i>Firewall
        </a>
      </li>
      <li {% if uri_path[0] == 'intrusion' %} class='active' {% endif %}>
        <a class="dropdown-trigger-hoverable {{ theme.nav_text }}" data-target="sidenav-advanced-dropdown">
          <i class="material-icons red-text lighten-2 left">security</i>
          Advanced
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li {% if uri_path[0] == 'system' %} class='active' {% endif %}>
        <a class="dropdown-trigger-hoverable {{ theme.nav_text }}" data-target="sidenav-system-dropdown">
          <i class="material-icons left">computer</i>
          System
          <i class="material-icons grey-text accent-2 right">arrow_drop_down</i>
        </a>
      </li>
      <li {% if uri_path[0] == 'settings' %} class='active' {% endif %}>
        <a class="dropdown-trigger-hoverable {{ theme.nav_text }}" data-target="sidenav-settings-dropdown">
          <i class="material-icons left">settings</i>
          Settings
          <i class="material-icons grey-text accent-2 right">arrow_drop_down</i>
        </a>
      </li>
      <li {% if uri_path[0] == 'device' %} class='active' {% endif %}>
        <a class="dropdown-trigger-hoverable {{ theme.nav_text }}" data-target="sidenav-device-dropdown">
          <i class="material-icons green-text accent-3 left">power_settings_new</i>
          Device
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li>
        <a href="logout" class="{{ theme.nav_text }}">
          <i class="material-icons orange-text lighten-1 left">logout</i>Logout
        </a>
      </li>
    </ul>
    <!-- sidenav dropdown -->
    <ul id="sidenav-settings-dropdown" class="dropdown-content">
      <li {% if uri_path[1] == 'dns' %} class='active' {% endif %}>
        <a href="settings/dns">
          <i class="material-icons {{ theme.icon|safe }}">dns</i>DNS
        </a>
      </li>
      <li {% if uri_path[1] == 'dhcp' %} class='active' {% endif %}>
        <a href="settings/dhcp">
          <i class="material-icons {{ theme.icon|safe }}">filter_b_and_w</i>DHCP
        </a>
      </li>
      <li {% if uri_path[1] == 'interface' %} class='active' {% endif %}>
        <a href="settings/interface">
          <i class="material-icons {{ theme.icon|safe }}">format_italic</i>Interface
        </a>
      </li>
      <li {% if uri_path[1] == 'logging' %} class='active' {% endif %}>
        <a href="settings/logging">
          <i class="material-icons {{ theme.icon|safe }}">description</i>Logging
        </a>
      </li>
      <!--    <li {% if uri_path[1] == 'syslog' %} class='active' {% endif %}>
            <a href="settings/syslog"><i class="material-icons {{icon_color}}">file_copy</i> Syslog</a></li> -->
      <li {% if uri_path[1] == 'categories' %} class='active' {% endif %}>
        <a href="settings/categories">
          <i class="material-icons {{ theme.icon|safe }}">library_books</i>Categories
        </a>
      </li>
    </ul>
    <ul id="sidenav-device-dropdown" class="dropdown-content">
      <li {% if uri_path[1] == 'restart' %} class='active' {% endif %}>
        <a href="device/restart">
          <i class="material-icons {{ theme.icon|safe }}">refresh</i>Restart
        </a>
      </li>
      <li {% if uri_path[1] == 'shutdown' %} class='active' {% endif %}>
        <a href="device/shutdown">
          <i class="material-icons {{ theme.icon|safe }}">power_settings_new</i>Shutdown
        </a>
      </li>
    </ul>
    <ul id="sidenav-advanced-dropdown" class="dropdown-content">
      <li {% if uri_path[1] == 'whitelist' %} class='active' {% endif %}>
        <a href="/rules/overrides/whitelist">
          <i class="material-icons {{ theme.icon|safe }}">thumb_up</i>Whitelist
        </a>
      </li>
      <li {% if uri_path[1] == 'blacklist' %} class='active' {% endif %}>
        <a href="/rules/overrides/blacklist">
          <i class="material-icons {{ theme.icon|safe }}">thumb_down</i>Blacklist
        </a>
      </li>
      <li {% if uri_path[1] == 'rules' %} class='active' {% endif %}>
        <a href="/rules/nat">
          <i class="material-icons {{ theme.icon|safe }}">call_split</i>NAT
        </a>
      </li>
      <li {% if uri_path[1] == 'domain' %} class='active' {% endif %}>
        <a href="/intrusion/domain">
          <i class="material-icons {{ theme.icon|safe }}">collections_bookmark</i>Domain
        </a>
      </li>
      <li {% if uri_path[1] == 'ip' %} class='active' {% endif %}>
        <a href="/intrusion/ip">
          <i class="material-icons {{ theme.icon|safe }}">verified_user</i>IP
        </a>
      </li>
      <li {% if uri_path[1] == 'ips' %} class='active' {% endif %}>
        <a href="/intrusion/ips">
          <i class="material-icons {{ theme.icon|safe }}">report</i>IPS/IDS
        </a>
      </li>
    </ul>
    <ul id="sidenav-system-dropdown" class="dropdown-content">
      <li {% if uri_path[1] == 'log' %} class='active' {% endif %}>
        <a href="system/logs">
          <i class="material-icons {{ theme.icon|safe }}">assignment</i>Logs
        </a>
      </li>
      <li {% if uri_path[1] == 'reports' %} class='active' {% endif %}>
        <a href="system/reports">
          <i class="material-icons {{ theme.icon|safe }}">assignment_late</i>Reports
        </a>
      </li>
      <li {% if uri_path[1] == 'users' %} class='active' {% endif %}>
        <a href="system/users">
          <i class="material-icons {{ theme.icon|safe }}">group</i>Users
        </a>
      </li>
      <li {% if uri_path[1] == 'backups' %} class='active' {% endif %}>
        <a href="system/backups">
          <i class="material-icons {{ theme.icon|safe }}">backup</i>Backups
        </a>
      </li>
      <li {% if uri_path[1] == 'services' %} class='active' {% endif %}>
        <a href="system/services">
          <i class="material-icons {{ theme.icon|safe }}">sync</i>Services
        </a>
      </li>
    </ul>
    <!-- end sidenav dropdown -->
  {% elif navi and role == 'user' %}
    <!-- sidenav role > USER -->
    <ul class="sidenav" id="mobile-nav-user">
      <li {% if uri_path[0] == 'dashboard' %} class='active' {% endif %}>
        <a href="dashboard">
          <i class="material-icons left">dashboard</i>Dashboard
        </a>
      </li>
      <li {% if uri_path[0] == 'system' and uri_path[1] == 'reports' %} class='active' {% endif %}>
        <a href="system/reports">
          <i class="material-icons">assignment_late</i>Reports
        </a>
      </li>
      <li>
        <a href="logout">
          <i class="material-icons left">logout</i>Logout
        </a>
      </li>
    </ul>
  {% endif %}
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let elems = document.querySelectorAll('.dropdown-trigger-hoverable');
        M.Dropdown.init(elems, {
            coverTrigger : false,
            hover: true
        });
    })
</script>