<script>

  class FirewallRulesTable extends DNXWebuiTableFormModal {

    _get_selected_rules() {
      let selected_rules = [];

      let fw_rules = document.querySelectorAll('.dnx-table-row-select');
      for (let rule of fw_rules) {

        if (rule.checked) {
          selected_rules.push(rule);
        }
      }
      return selected_rules
    }

    _clear_rule_selection(rules) {
      for (let rule of rules) {
        rule.checked = false
      }
    }

    enable_selected_rules() {
      let selected_rules = this._get_selected_rules();

      if (this.debug) { console.log('enabling > ', selected_rules); }

      for (let rule of selected_rules) {
        setAttributes(rule.closest('tr'), {'data-enabled': '1', 'style': 'opacity: 1'})
      }
      this._clear_rule_selection(selected_rules);
    }

    disable_selected_rules() {
      let selected_rules = this._get_selected_rules();

      if (this.debug) { console.log('disabling > ', selected_rules); }

      for (let rule of selected_rules) {
        setAttributes(rule.closest('tr'), {'data-enabled': '0', 'style': 'opacity: .4'})
      }
      this._clear_rule_selection(selected_rules);
    }

    remove_selected_rules() {
      let selected_rules = this._get_selected_rules();

      if (this.debug) { console.log('removing > ', selected_rules); }

        for (let rule of selected_rules) {
          rule.closest('tr').remove()
      }

      this._clear_rule_selection(selected_rules);
    }

    add_new_rule() {
      let rule_position = this.table_el.children.length + 1
      let default_chip = '<div class="chip">none</div>'

      let rule_template = `<tr id="r${rule_position}" style="opacity: .4;" data-enabled="0" data-id="0">` +
        '<td><label><input type="checkbox" class="filled-in dnx-table-row-select"><span></span></label></td>' +
        '<td>' +
        '<div class="row">' +
        `<a class="btn btn-floating btn-small waves-light" onclick="firewall_rules_table.move_up(${rule_position})">` +
        '<i class="material-icons blue-grey">arrow_upward</i>' +
        '</a>' +
        `<a class="btn btn-floating btn-small waves-light valign-wrapper" onclick="firewall_rules_table.move_down(${rule_position})">` +
        '<i class="material-icons red darken-2">arrow_downward</i>' +
        '</a>' +
        '</div>' +
        '</td>' +
        '<td class="rname">new_rule</td>' +
        `<td class="rsrc_zone">${default_chip}</td>` +
        `<td class="rsrc_network">${default_chip}</td>` +
        `<td class="rsrc_service">${default_chip}</td>` +
        `<td class="rdst_zone">${default_chip}</td>` +
        `<td class="rdst_network">${default_chip}</td>` +
        `<td class="rdst_service">${default_chip}</td>` +
        '<td class="raction">drop</td>' +
        '<td class="rlog">N</td>' +
        '<td class="rsec1_prof">0</td>' +
        '<td class="rsec2_prof">0</td>' +
        '<td class="rsec3_prof">0</td>' +
        '</tr>'

      this.table_el.insertAdjacentHTML('beforeend', rule_template)
    }

    _update_form_from_row(selected_table_row) {

      const fields = ['name', 'log', 'enabled', 'src_zone', 'src_network',
        'src_service', 'dst_zone', 'dst_network', 'dst_service', 'action',
        'sec1_prof', 'sec2_prof', 'sec3_prof']

      this.form_el.children[0].setAttribute('data-id', selected_table_row.getAttribute('data-id'));
      this.form_el.children[0].id = `e${selected_table_row.id}`;

      for (let field of fields) {
        let table_row_field = selected_table_row.querySelector(`.r${field}`);
        let table_form_field = this.form_el.querySelector(`.e${field}`);

        if (['name'].includes(field)) {
          let input_field = table_form_field.parentNode;

          table_form_field.remove();

          let input = document.createElement('input');
          input.id = 'ename';
          input.name = 'ename';
          input.type = 'text';
          input.className = 'ename validate';
          input.value = table_row_field.innerText.replace('[*]', '');

          input_field.prepend(input);

          input_field.children[1].className = 'active';
        }
        else if (['sec1_prof', 'sec2_prof', 'sec3_prof'].includes(field)) {
          let input_field = table_form_field.parentNode;

          table_form_field.remove();

          let input = document.createElement('input');
          input.name = field;
          input.type = 'number';
          input.className = `e${field} validate`;
          input.min = '0';
          input.max = '1';
          input.value = table_row_field.innerText;

          input_field.prepend(input);
        }

        else if (field === 'log') {
          table_form_field.checked = table_row_field.innerText === 'on';
        }
        else if (field === 'enabled') {
          const enabled = parseInt(selected_table_row.getAttribute('data-enabled'));
          table_form_field.checked = !!enabled;
        }
        else if (field === 'action') {
          const actionMap = {'drop': 0, 'accept': 1};

          document.querySelectorAll('.eaction')[actionMap[table_row_field.innerHTML]].checked = true;
        }
        else if (['src_zone', 'src_network', 'src_service', 'dst_zone', 'dst_network', 'dst_service'].includes(field)) {
          let dnxChips = table_form_field.parentNode;
          let chipArray = dnxChips.querySelectorAll('.chip');

          chipArray.forEach((chip) => {
            chip.remove()
          });
          dnxChips.insertAdjacentHTML('afterbegin', table_row_field.innerHTML);

          chipArray = dnxChips.querySelectorAll('.chip');
          chipArray.forEach((chip) => {
            chip.insertAdjacentHTML('beforeend', '<i class="material-icons close" ' +
              'onclick="cRemove(this.parentNode)">close</i>')
          });
        }
      }
    }

    _update_row_from_form() {

      const row_id = this.form_el.children[0].id.substring(1);
      const obj_id = this.form_el.children[0].getAttribute('data-id');

      let row = document.createElement('tr')

      if (this.form_el.querySelector('.eenabled').checked) {
        setAttributes(row, {'data-enabled': '1', 'data-id': obj_id, 'id': row_id})
      }
      else {
        row.style.opacity = '.4'
        setAttributes(row, {'data-enabled': '0', 'data-id': obj_id, 'id': row_id})
      }

      const fields = [
        'rselect', 'rmove', 'rname',
        'rsrc_zone', 'rsrc_network', 'rsrc_service',
        'rdst_zone', 'rdst_network', 'rdst_service',
        'raction', 'rlog',
        'rsec1_prof', 'rsec2_prof', 'rsec3_prof'
      ]

      for (let i = 0; i < fields.length; i++) {
        let rule_field = fields[i];

        row.appendChild(document.createElement('td'));
        row.children[i].setAttribute('class', rule_field);
      }

      let col = row.children
      col[0].innerHTML = '<td><label><input type="checkbox" class="filled-in dnx-table-row-select"><span></span></label></td>'
      col[1].innerHTML = '<div class=row>' +
        `<a class="btn btn-floating btn-small waves-light" onclick="firewall_rules_table.move_up(${row_id})">` +
        '<i class="material-icons blue-grey">arrow_upward</i></a>' +
        `<a class="btn btn-floating btn-small waves-light" onclick="firewall_rules_table.move_down(${row_id})">` +
        '<i class="material-icons red darken-2">arrow_downward</i></a></div>'

      col[2].innerHTML = `[*]${this.form_el.querySelector('.ename').value}`;

      {# eaction[1] is accept radio btn #}
      col[9].innerHTML  = this.form_el.querySelectorAll('.eaction')[1].checked ? 'accept' : 'drop';
      col[10].innerHTML = this.form_el.querySelectorAll('.elog')[0].checked ? 'on' : 'off';
      col[11].innerHTML = this.form_el.querySelector('.esec1_prof').value;
      col[12].innerHTML = this.form_el.querySelector('.esec2_prof').value;
      col[13].innerHTML = this.form_el.querySelector('.esec3_prof').value;

      let row_field, form_field_objects;
      for (let fStr of ['src_zone', 'src_network', 'src_service', 'dst_zone', 'dst_network', 'dst_service']) {
        row_field = row.querySelector(`.r${fStr}`);

        form_field_objects = this.form_el.querySelector(`.e${fStr}`).parentNode.querySelectorAll('.chip');

        form_field_objects.forEach((x) => {
          row_field.insertAdjacentHTML('beforeend', x.outerHTML)
        });
      }

      let close = row.querySelectorAll('.close');
      close.forEach((x) => {
        x.remove()
      });

      this.table_el.querySelector(`#${row_id}`).outerHTML = row.outerHTML;

      clearDNXChips();

      M.Modal.getInstance(this.form_el).close();
    }
  }
</script>
<script>
class FirewallObjectsTable extends DNXWebuiTableFormModal {

  _update_form_from_row(selected_table_row) {

    let hidden = document.createElement('input')
    hidden.type = 'hidden';
    hidden.name = 'oeid';
    hidden.value = selected_table_row.getAttribute('data-id')

    this.form_el.children[0].prepend(hidden)

    const fields = ['name', 'type', 'value', 'desc']

    for (let field of fields) {
      let obj_field = selected_table_row.querySelector(`.o${field}`);
      let editor_field = this.form_el.querySelector(`.oe${field}`);

      if (['name', 'value', 'desc'].includes(field)) {
        let input_field = editor_field.parentNode;

        editor_field.remove();

        let input = document.createElement('input');
        input.id = `oe${field}`;
        input.name = `oe${field}`;
        input.type = 'text';
        input.className = `oe${field} validate`;
        input.value = obj_field.innerText;

        input_field.prepend(input);

        input_field.children[1].className = 'active';
      }
      else if (['type'].includes(field)) {
        const actionMap = {'address': 0, 'service': 1, 'geolocation': 2};

        document.querySelectorAll('.oetype')[actionMap[obj_field.innerHTML]].name = 'oetype';
        document.querySelectorAll('.oetype')[actionMap[obj_field.innerHTML]].checked = true;
      }
    }
    this.form_el.children[0].id = `oe${selected_table_row.id}`;
  }
}
</script>
<script>
  /////// this is where we initialize the dnx tables class ///////

  const firewall_rules_table = new FirewallRulesTable('firewall-rules-table', debug=true);
  firewall_rules_table.initialize_filter(filter_min_length=2, filter_col_start=2, filter_col_end=9);
  firewall_rules_table.initialize_form(click_col_start=2)

  const firewall_objects_table = new FirewallObjectsTable('firewall-objects-table', debug=true);
  firewall_objects_table.initialize_filter(filter_min_length=2, filter_col_start=1, filter_col_end=4);
  firewall_objects_table.initialize_form(click_col_start=1)
  /////////
</script>
<script>
  //firewall object implementation (built from materialize chips) TODO: convert to class and/or integrate with firewall table class
  const fwObjectMap = {{firewall_settings.fw_object_map|tojson}};
  const zone_autofill = {{firewall_settings.zone_autofill|tojson}};
  const network_autofill = {{firewall_settings.network_autofill|tojson}};
  const service_autofill = {{firewall_settings.service_autofill|tojson}};

  function initDNXChips(field) {
    let elem = document.querySelectorAll(`.${field}-chips`);

    let set;
    if (field === 'service') {
      set = service_autofill;
    }
    else if (field === 'zone') {
      set = zone_autofill;
    }
    else {
      set = network_autofill;
    }
    return M.Chips.init(elem, {
      onChipAdd: cAddCallback,
      limit: 4,
      autocompleteOnly: true,
      autocompleteOptions: {
        data: set
      }
    })
  }

  let chipMAP = {
    zone: initDNXChips('zone'),
    network: initDNXChips('network'),
    service: initDNXChips('service')
  }

  function clearDNXChips() {
    for (let fields of [chipMAP['zone'], chipMAP['network'], chipMAP['service']]) {
      fields.forEach((field) => {
        field.$chips.splice(0, 99);
        field.chipsData.splice(0, 99);
      });
    }
  }

  function cAddCallback(el, chip) {

    let objName = chip.innerHTML.split('<')[0];
    let chipClose = chip.innerHTML.split(objName)[1];

    chip.setAttribute('data-id', objName);
    chip.className += ' ' + fwObjectMap[objName][2];

    chip.innerHTML = fwObjectMap[objName][1] + ' ' + objName + chipClose;
    chip.children[1].setAttribute('onclick', 'cRemove(this.parentNode)');
  }

  function cRemove(chip) {
    let fid = chip.getAttribute('data-id');

    let ftype, findex;
    [ftype, findex] = getAttributes(chip.parentNode, ['data-ftype', 'data-findex'])

    let instance = chipMAP[ftype][findex];

    let i;
    for (i = 0; i < instance.chipsData.length; i++) {
      let c = instance.chipsData[i];
      if (c.tag === fid) {
        break
      }
    }
    instance.$chips.splice(i, 1);
    instance.chipsData.splice(i, 1);
    chip.remove();
  }
</script>
<script>
  //object manager
</script>