<script>
async function commitRules(table_id) {
    let FWsection = document.getElementById("section").value;
    let FWrules = tableToJson(table_id);

    await post("commit", {"section": `${FWsection}`, "rules": `${FWrules}`});
}
async function pushRules() {
    await post("push", {});
}
async function post(endpoint, data) {
        let response = await ajaxClient.post(`/${endpoint}`, data);

        let Response = document.querySelector("#ajax-error-modal");
        Response.querySelector("h5").innerText = response.message;

        let errorModal = M.Modal.init(
            Response, {
                dismissible: false
            }
        );
        errorModal.open();
}
function tableToJson(table_id) {
    const table = document.getElementById(`${table_id}`)
    let data = {};

    for (let i=0; i<table.rows.length; i++) {

        let tableRow = table.rows[i];
        let rowData = [tableRow.attributes["data-enabled"].value];

        for (let j=2; j<tableRow.cells.length; j++) {
            let currentCell = tableRow.cells[j];

            if (currentCell.children.length > 0) {
                let objectStr = ""
                for (let obj of tableRow.cells[j].children) {
                    objectStr += `${obj.innerText.replace(" ", "/")},`;
                }
                rowData.push((objectStr.slice(0, -1)));
            } else {
                rowData.push((currentCell.innerText)); // .replace(" ", ",") replace only does first occurrence
            }
            console.log(rowData);
        }

        data[i] = rowData;
    }

    return JSON.stringify(data);
}
</script>

