{% extends('layout.html') %}
{% block body %}
{% include 'rules/firewall/before_firewall.html' %}
<section id="tabs-bar">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card-panel hoverable {{ theme.card }}">
          <ul class="tabs tabs-fixed-width">
            {{ create_tab(tab, 1, 'rulesets')|safe }}
            {{ create_tab(tab, 2, 'zones')|safe }}
            {{ create_tab(tab, 3, 'objects')|safe }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="rulesets" class="section">
  <div class="fw-container">
    <div class="row">
      <div class="col s12">
        <div class="card-panel hoverable {{ theme.card }}">
          {% set title_string = 'rule list (*changes pending)' if firewall_settings['pending_changes'] else 'rule list' %}
          {{ create_title(title_string)|safe }}
          <div class="row">
            <form method="post">
              <input type="hidden" name="tab" value="1">
              <input type="hidden" name="change_section">
              <div class="input-field col s4 m2 {{input_color}}">
                <select name="section" id="section" onchange="this.form.submit()">
                  {% for section in sections %}
                    <option value="{{ section }}" {% if section == selected %}selected{% endif %}>{{ section }}</option>
                  {% endfor %}
                </select>
                <label>Ruleset</label>
              </div>
            </form>
            {% set dis = not firewall_settings['pending_changes'] %}
            <a id="revert_rules" class="btn{% if dis %} btn-disabled{% endif %} waves-effect waves-light
                modal-trigger red darken-2"{% if not dis %} href="#revert-modal"{% endif %}>Revert</a>
            <a id="push_rules" class="btn{% if dis %} btn-disabled{% endif %} waves-effect waves-light
                modal-trigger green darken-2"{% if not dis %} href="#push-modal"{% endif %}>Push</a>
            <a class="btn waves-effect waves-light modal-trigger blue-grey" href="#commit-modal">Commit</a>
            <a class="btn waves-effect waves-light blue-grey" onclick="diffRules()">Diff</a>
            <a class="btn waves-effect waves-light right" onclick="firewall_rules_table.add_new_rule()">Create Rule</a>
          </div>
          <div class="row">
            <a class="btn waves-effect green darken-2" onclick="firewall_rules_table.enable_selected_rules()">Enable</a>
            <a class="btn waves-effect blue-grey" onclick="firewall_rules_table.disable_selected_rules()">Disable</a>
            <a class="btn waves-effect red darken-2" onclick="firewall_rules_table.remove_selected_rules()">Remove</a>
            <div class="col s12 m6 l5 xl3 {{input_color}} right">
              <input id="firewall-rules-table-filter" type="text" onkeyup="firewall_rules_table.filter_table()" placeholder="Filter">
            </div>
          </div>
          <div class="row">
            <table class="firewall-rules-table filterable movable centered highlight" style="cursor:default" >
              <colgroup>
                <col span="2" style="background-color:#eceff1">
                <col span="1" style="background-color:#90a4ae">
                <col span="3" style="background-color:#cfd8dc">
                <col span="3" style="background-color:#b0bec5">
                <col span="5" style="background-color:#eceff1">
              </colgroup>
              <thead>
              <tr>
                <th colspan="2">Control</th>
                <th colspan="1">ID</th>
                <th colspan="3">Source</th>
                <th colspan="3">Destination</th>
                <th colspan="5">Options</th>
              </tr>
              <tr>
                <th>Select</th>
                <th style="width:5%">Move</th>
                <th>Name</th>
                <th>Zones</th>
                <th>Networks</th>
                <th>Services</th>
                <th>Zones</th>
                <th>Networks</th>
                <th>Services</th>
                <th>Action</th>
                <th>Log</th>
                <th>IPP</th>
                <th>DNS</th>
                <th>IPS</th>
              </tr>
              </thead>
              <tbody class="firewall-rules-table-body">
              {% for rule in firewall_settings['firewall_rules'] %}
                <tr id="r{{ loop.index }}" {% if not rule[0] %} style="opacity: .4" {% endif %} data-enabled="{{ rule[0] }}" data-id="{{ rule[1] }}">
                  <td><label><input type="checkbox" class="filled-in dnx-table-row-select"><span></span></label></td>
                  <td>
                    <div class="row">
                      <a class="btn btn-floating btn-small waves-light" onclick="firewall_rules_table.move_up(r{{ loop.index }})">
                        <i class="material-icons blue-grey">arrow_upward</i>
                      </a>
                      <a class="btn btn-floating btn-small waves-light" onclick="firewall_rules_table.move_down(r{{ loop.index }})">
                        <i class="material-icons red darken-2">arrow_downward</i>
                      </a>
                    </div>
                  </td>
                  <td class="rname">{{ rule[2] }}</td>
                  <td class="rsrc_zone">
                    {% for subfield in rule[3] %}
                      {{ firewall_settings.fw_object_map[subfield[1]][0]|safe }}
                    {% endfor %}
                  </td>
                  <td class="rsrc_network">
                    {% for subfield in rule[4] %}
                      {{ firewall_settings.fw_object_map[subfield[1]][0]|safe }}
                    {% endfor %}
                  </td>
                  <td class="rsrc_service">
                    {% for subfield in rule[5] %}
                      {{ firewall_settings.fw_object_map[subfield[1]][0]|safe }}
                    {% endfor %}
                  </td>
                  <td class="rdst_zone">
                    {% for subfield in rule[6] %}
                      {{ firewall_settings.fw_object_map[subfield[1]][0]|safe }}
                    {% endfor %}
                  </td>
                  <td class="rdst_network">
                    {% for subfield in rule[7] %}
                      {{ firewall_settings.fw_object_map[subfield[1]][0]|safe }}
                    {% endfor %}
                  </td>
                  <td class="rdst_service">
                    {% for subfield in rule[8] %}
                      {{ firewall_settings.fw_object_map[subfield[1]][0]|safe }}
                    {% endfor %}
                  </td>
                  <td class="raction">{{'accept' if rule[9] else 'drop'}}</td>
                  <td class="rlog">{{'on' if rule[10] else 'off'}}</td>
                  <td class="rsec1_prof">{{rule[11]}}</td>
                  <td class="rsec2_prof">{{rule[12]}}</td>
                  <td class="rsec3_prof">{{rule[13]}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="zones" class="section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card-panel hoverable {{ theme.card }}">
          {{ create_title('interface list')|safe }}
          <table style="cursor:default" class="striped centered">
            <thead>
            <tr>
              <th>Interface</th>
              <th>Zone</th>
              <th>Type</th>
            </tr>
            </thead>
            <tbody>
            {% for intf, zone in firewall_settings['zone_map']['builtin'].items() %}
              <tr>
                <td>{{intf}}</td>
                <td>{{zone}}</td>
                <td>builtin</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col s12">
        <div class="card-panel hoverable {{ theme.card }}">
          {{ create_title('zone manager')|safe }}
          <table class="striped centered highlight">
            <thead>
            <tr>
              <th></th>
              <th>Zone</th>
              <th>Type</th>
              <th>Associations</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for zone, zone_info in firewall_settings['zone_manager']['builtin'].items() %}
              <tr>
                <td>X</td>
                <td>{{zone}}</td>
                <td>builtin</td>
                <td>{{zone_info[0]}}</td>
                <td>{{zone_info[1]}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="objects" class="section">
  <div class="fw-container">
    <div class="col s12">
      <div class="card-panel hoverable {{ theme.card }}">
        {{ create_title('object manager')|safe }}
        <div class="row">
          <div class="input-field col s12 m6 l5 xl3 {{input_color}}">
            <input id="firewall-objects-table-filter" type="text" onkeyup="firewall_objects_table.filter_table()" placeholder="Filter">
          </div>
          <a class="firewall-objects-table-btn-create btn waves-effect waves-light right">Create Object</a>
        </div>
        <div class="row">
          <table class="firewall-objects-table filterable movable colorize centered highlight" style="cursor:default;table-layout: fixed;">
            <thead>
            <tr>
              <th style="width:5%"></th>
              <th style="width:20%">Name</th>
              <th style="width:10%">Group</th>
              <th style="width:10%">Type</th>
              <th style="width:15%">Value</th>
              <th style="width:40%">Description</th>
            </tr>
            </thead>
            <tbody class="firewall-objects-table-body">
            {% for id, name, group, type, subtype, value, description in firewall_settings.firewall_objects.values() %}
              <tr id="{{ id }}" style="height: 25px;" data-id="{{ id }}">
              {% if group == 'builtin' %}
                <td class="fw_obj">-</td>
              {% else %}
                <td class="fw-obj">
                  <form method="post">
                    <input type="hidden" name="tab" value="3">
                    <input type="hidden" name="obj_id" value="{{ id }}">
                    <button class="btn-floating btn-small waves-effect waves-light red" name="remove_obj">
                      <i class="material-icons">remove</i>
                    </button>
                  </form>
                </td>
              {% endif %}
                <td class="fw-obj oname">{{name}}</td>
                <td class="fw-obj ogroup">{{group}}</td>
                <td class="fw-obj otype">{{type}}</td>
                <td class="fw-obj ovalue">{{value}}</td>
                <td class="fw-obj odesc" style="text-align:left">{{description}}</td>
              </tr>
            {% else %}
              <tr>
                {% for i in range(5) %}
                  <td></td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'rules/firewall/rule_style.html' %}
{% include 'rules/firewall/btn_modals.html' %}
{% include 'rules/firewall/rule_editor.html' %}
{% include 'rules/firewall/object_editor.html' %}
{% include 'rules/firewall/after_firewall.html' %}
{% endblock %}
