<div class="firewall-objects-table-form modal z-depth-5">
  <form method="post">
    <input type="hidden" name="tab" value="3">
    <input type="hidden" class="oeform">
    <input type="hidden" class="oeid" name="oeid">
    <div class="row">
      <div>
        <h4 class="oetitle {{ theme.title }}" style="float: right;"></h4>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3 center {{input_color}}">
        <input id="oename" class="oename validate" type="text" data-length="25" required/>
        <label for="oename">Name</label>
      </div>
      <div class="input-field col s3 center {{input_color}}">
        <input id="oevalue" class="oevalue validate" type="text" required/>
        <label for="oevalue">Value</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 center {{input_color}}">
        <input id="oedesc" class="oedesc validate" type="text" data-length="60" required/>
        <label for="oedesc">Description</label>
      </div>
      <label for="types">Type</label>
      <div id="types">
        <div class="col s2">
          <label>
            <input class="oetype" type="radio" value="address" required/><span>ADDRESS</span>
          </label>
        </div>
        <div class="col s2">
          <label>
            <input class="oetype" type="radio" value="service"/><span>SERVICE</span>
          </label>
        </div>
        <div class="col s2">
          <label>
            <input class="oetype" type="radio" value="geolocation" disabled/><span>GEOLOCATION</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="modal-footer">
        <a class="firewall-objects-table-form-submit btn waves-effect waves-light">Submit</a>
        <a class="btn-flat modal-close waves-effect waves-green">Cancel</a>
      </div>
    </div>
  </form>
</div>
