<div id="FWrule-editor" class="fwrule-form modal z-depth-5">
    <div class="row">
        <div class="input-field col s4 m2 center {{input_color}}">
            <input id="ename" class="ename validate" type="text">
            <label for="ename">Rule Name</label>
        </div>
        <div class="col offset-s1">
            <h6 class="{{title_color}}">Log:</h6>
        </div>
        <div class="input-field col s1">
            <label>
                <input class="elog" type="checkbox" name="log" disabled>
                <span></span>
            </label>
        </div>
        <div class="col">
            <h6 class="{{title_color}}">Use:</h6>
        </div>
        {# need to deal with this because input-field class is on div, not input #}
        <div class="input-field col s3 {{input_color}}">
            <div class="switch">
                <label>
                    Off
                    <input class="eenabled" type="checkbox" checked="checked" name="rule_state">
                    <span class="lever"></span>
                    On
                </label>
            </div>
        </div>
        <div>
            <h4 class="{{title_color}}" style="float: right;">Create Rule</h4>
        </div>
    </div>
    {# source network fields #}
    <div class="row">
        <div>
            <h6 class="{{title_color}}" style="float: left;">Src:</h6>
        </div>
        <div class="esrc_zone input-field col s2 offset-s1 {{input_color}}">
            <select name="src_zone">
                {% for zone in merge_items('any', firewall_settings['zone_manager']['builtins'].keys()) -%}
                <option value="{{zone}}">{{zone.upper()}}</option>
                {% endfor -%}
            </select>
            <label for="src_zone">Zone</label>
        </div>
        <div class="src-network-chips col s3 offset-s1">
            <input class="esrc_network">
        </div>
        <div class="src-service-chips col s3 offset-s1">
            <input class="esrc_service">
        </div>
    </div>
    {# destination network fields #}
    <div class="row">
        <div>
            <h6 class="{{title_color}}" style="float: left;">Dst:</h6>
        </div>
        <div class="edst_zone input-field col s2 offset-s1 {{input_color}}">
            <select name="dst_zone">
                {% for zone in merge_items('any', firewall_settings['zone_manager']['builtins'].keys()) %}
                <option value="{{zone}}">{{zone.upper()}}</option>
                {% endfor %}
            </select>
            <label for="dst_zone">Zone</label>
        </div>
        <div class="dst-network-chips col s3 offset-s1">
            <input class="edst_network">
        </div>
        <div class="dst-service-chips col s3 offset-s1">
            <input class="edst_service">
        </div>
    </div>
    {# packet decision fields #}
    <div class="row">
        <div>
            <h6 class="{{title_color}}" style="float: left;">Act:</h6>
        </div>
        <div class="eaction input-field col s2 offset-s1 {{input_color}}">
            <select name="action">
                {% for opt in ['accept', 'deny'] %}
                <option value="{{opt}}">{{opt.upper()}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col offset-s1">
            <h6 class="{{title_color}}" style="float: left;">Sec:</h6>
        </div>
        <div class="input-field col s2 offset-s1 {{input_color}}">
            <input class="esec1_prof validate" type="number" name="sec1_prof" value="0" min="0" max="1">
            <label for="sec1_prof">IPProxy</label>
        </div>
        <div class="input-field col s2 {{input_color}}">
            <input class="esec2_prof validate" type="number" name="sec2_prof" value="0" min="0" max="1">
            <label for="sec2_prof">DNSProxy</label>
        </div>
        <div class="input-field col s2 {{input_color}}">
            <input class="esec3_prof validate" type="number" name="sec3_prof" value="0" min="0" max="1">
            <label for="sec2_prof">IPS/IDS</label>
        </div>
    </div>
    <div class="row">
        <div class="modal-footer">
            <a class="btn waves-effect waves-light" onclick="updateRule()">Submit</a>
            <a class="btn-flat modal-close waves-effect waves-green" >Cancel</a>
        </div>
    </div>
</div>
