{% extends('layout.html') %}
{% block body %}
<section id="tabs-bar" class="tabsbar">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12 xl12">
                <ul class="tabs">
                    <li class="tab col s3 m3 l4 xl2"><a {% if tab=='1' %} class="active" {% endif %} href="#fwall"
                        onclick="activeTab(1)">Rulesets</a></li>
                    <li class="tab col s3 m3 l4 xl2"><a {% if tab=='2' %} class="active" {% endif %} href="#zones"
                        onclick="activeTab(2)">Zones</a></li>
                    <li class="tab col s3 m3 l4 xl2"><a {% if tab=='3' %} class="active" {% endif %} href="#objects"
                        onclick="activeTab(3)">Objects</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="fwall" class="section {{main_section_color}}">
    <div class="fw-container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Rule List
                    {% if firewall_settings['pending_changes'] %} (*Changes Pending) {% endif %}</h4>
                    <div class="row">
                        <form action="advanced/firewall" method="POST">
                            <input type="hidden" name="tab" value="1">
                            <input type="hidden" name="change_section">
                            <div class="input-field col s4 m2 {{input_color}}">
                                <select name="section" id="section" onchange="this.form.submit()">
                                    {% for section in sections %}
                                        {% if section == selected %}
                                        <option value="{{section}}" selected>{{section}}</option>
                                        {% else %}
                                        <option value="{{section}}">{{section}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="section">Ruleset</label>
                            </div>
                        </form>
                        <a class="btn waves-effect waves-light modal-trigger" href="#revert-modal"
                           {% if not firewall_settings['pending_changes'] %} disabled {% endif %}>Revert</a>
                        <a class="btn waves-effect waves-light modal-trigger" href="#commit-modal"
                           {% if not firewall_settings['pending_changes'] %} disabled {% endif %}>Commit</a>
                        <a class="btn waves-effect waves-light modal-trigger right"
                           href="#FWrule-creator">Create Rule</a>
                    </div>
                    <div class="input-field col s12 m6 l5 xl3 {{input_color}}">
                        <input type="text" id="filter-input" onkeyup="filterTable(1, 4)" placeholder="Filter">
                    </div>
                    <div class="row">
                        <table class="centered highlight" id="filter-table">
                            <thead>
                                <tr>
                                    <th colspan="2">ID</th>
                                    <th colspan="3">Source</th>
                                    <th colspan="3">Destination</th>
                                    <th colspan="4">Options</th>
                                </tr>
                                <tr>
                                    <th>Move</th>
                                    <th>Name</th>
                                    <th>Zones</th>
                                    <th>Networks</th>
                                    <th>Services</th>
                                    <th>Zones</th>
                                    <th>Networks</th>
                                    <th>Services</th>
                                    <th>Action</th>
                                    <th>Log</th>
                                    <th>IPProxy</th>
                                    <th>IPS/IDS</th>
                                </tr>
                            </thead>
                            <tbody id="filter-table-body">
                                {% for rule in firewall_settings['firewall_rules'] %}
                                <tr id="r{{loop.index}}" {% if not rule[0] %} style="opacity: .4" {% endif %}>
                                    {% set rule_num = loop.index %}
                                    <td data-enabled="{{rule[0]}}" data-fw-modal="r{{rule_num}}-0"><i class="material-icons">reorder</i></td>
                                    {% for field in rule[1:] %}
                                    {% if is_list(field) %}
                                    <td data-fw-modal="r{{rule_num}}-{{loop.index}}">
                                    {% for subfield in field %}
                                        {{format_fw_obj(subfield)|safe}}
                                    {% endfor %}
                                    </td>
                                    {% else %}
                                    <td data-fw-modal="r{{rule_num}}-{{loop.index}}">{{field}}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% else %}
                                <tr>
                                    {% for i in range(12) %}
                                    <td></td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="zones" class="section {{main_section_color}}">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Interface List</h4>
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Interface</th>
                                <th>Zone</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for intf, zone in firewall_settings['zone_map']['builtins'].items() %}
                            <tr>
                                <td>{{intf}}</td>
                                <td>{{zone}}</td>
                                <td>built-in</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Zone Manager</h4>
                    <table class="striped centered highlight">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Zone</th>
                                <th>Type</th>
                                <th>Associations</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for zone, zone_info in firewall_settings['zone_manager']['builtins'].items() %}
                            <tr>
                                <td>X</td>
                                <td>{{zone}}</td>
                                <td>built-in</td>
                                <td>{{zone_info[0]}}</td>
                                <td>{{zone_info[1]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="objects" class="section {{main_section_color}}">
    <div class="container">
        <div class="col s12">
            <div class="card-panel hoverable {{card_color}}">
                <h4 class="{{title_color}}">Object Manager</h4>
                <div class="row">
                    <div class="input-field col s12 m6 l5 xl3 {{input_color}}">
                        <input type="text" id="filter-input2" onkeyup="filterTable(2, 5, 2)" placeholder="Filter">
                    </div>
                    <a class="btn waves-effect waves-light modal-trigger right" href="#obj-creator">Create Object</a>
                </div>
                <div class="row">
                    <table class="centered highlight" id="filter-table2">
                        <thead>
                            <tr>
                                <th style="width:10%"></th>
                                <th style="width:15%">Name</th>
                                <th style="width:10%">Group</th>
                                <th style="width:10%">Type</th>
                                <th style="width:10%">Value</th>
                                <th style="width:45%">Description</th>
                            </tr>
                        </thead>
                        <tbody id="filter-table-body2">
                            {% for id, name, group, type, value, description in firewall_settings['firewall_objects'] %}
                            <tr name="obj_{{name}}" id="{{id}}" style="height: 25px;">
                            {% if not 'built-in' in type %}
                                <td class="fw_obj">X</td>
                            {% else %}
                                <td class="fw-obj">
                                    <form action="/advanced/firewall" method="POST">
                                        <input type="hidden" name="tab" value="3">
                                        <input type="hidden" name="obj_id" value="{{id}}">
                                        <button class="btn-floating btn-small waves-effect waves-light red" name="remove_obj">
                                            <i class="material-icons">remove</i>
                                        </button>
                                    </form>
                                </td>
                            {% endif %}
                                <td class="fw-obj">{{name}}</td>
                                <td class="fw-obj">{{group}}</td>
                                <td class="fw-obj">{{type}}</td>
                                <td class="fw-obj">{{value}}</td>
                                <td class="fw-obj grab" style="text-align:left">{{description}}</td>
                            </tr>
                            {% else %}
                            <tr>
                                {% for i in range(5) %}
                                <td></td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="revert-modal" class="modal">
    <div class="modal-content">
    <h5 class="red-text center">Are you sure you want to revert the pending firewall rule changes?
        This action cannot be undone.</h5>
    </div>
    <form action="/advanced/firewall" method="POST">
        <div class="modal-footer">
            <button class="btn waves-effect waves-light">YES</button>
            <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <input type="hidden" name="tab" value="1">
            <input type="hidden" name="section" value="{{selected}}">
            <input type="hidden" name="revert_rules">
        </div>
    </form>
</div>
<div id="commit-modal" class="modal">
    <div class="modal-content">
    <h5 class="red-text center">Are you sure you want to commit the pending firewall rule changes? The rules will take
        effect after a short processing delay. This action cannot be undone.</h5>
    </div>
    <form action="/advanced/firewall" method="POST">
        <div class="modal-footer">
            <button class="btn waves-effect waves-light">YES</button>
            <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <input type="hidden" name="tab" value="1">
            <input type="hidden" name="section" value="{{selected}}">
            <input type="hidden" name="commit_rules">
        </div>
    </form>
</div>
<div id="FWrule-creator" class="modal z-depth-5">
    <div class="popout-form">
        <form action="/advanced/firewall" method="POST">
            <input type="hidden" name="tab" value="1">
            <input type="hidden" name="section" value="{{selected}}">
            <input type="hidden" name="static_pos" value="1">
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Pos:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    {% set max_pos = firewall_settings['firewall_rules']|length + 1 %}
                    <input type="number" name="position" class="validate" value="{{max_pos}}" min="1" max="{{max_pos}}">
                </div>
                <div class="input-field col offset-s1">
                    <h6 class="{{title_color}}">Log:</h6>
                </div>
                <div class="input-field col s1">
                    <label>
                        <input type="checkbox" name="log" disabled>
                        <span></span>
                    </label>
                </div>
                <div class="input-field col">
                    <h6 class="{{title_color}}">Use:</h6>
                </div>
                <div class="input-field col s3 {{input_color}}">
                    <div class="switch">
                        <label>
                            Off
                            <input type="checkbox" checked="checked" name="rule_state">
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div>
                    <h4 class="{{title_color}}" style="float: right;">Create Rule</h4>
                </div>
            </div>
            <!-- source network fields-->
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Src:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <select name="src_zone" id="src_zone">
                        {% for zone in merge_items('any', firewall_settings['zone_manager']['builtins'].keys()) %}
                        <option value="{{zone}}">{{zone.upper()}}</option>
                        {% endfor %}
                    </select>
                    <label for="src_zone">Zone</label>
                </div>
                <div class="network-chips col s3 offset-s1" id="src_network"></div>
                <div class="service-chips col s3" id="src_service"></div>
            </div>
            <!-- destination network fields-->
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Dst:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <select name="dst_zone" id="dst_zone">
                        {% for zone in merge_items('any', firewall_settings['zone_manager']['builtins'].keys()) %}
                        <option value="{{zone}}">{{zone.upper()}}</option>
                        {% endfor %}
                    </select>
                    <label for="dst_zone">Zone</label>
                </div>
                <div class="network-chips col s3 offset-s1" id="dst_network"></div>
                <div class="service-chips col s3" id="dst_service"></div>
            </div>
            <!-- packet decision fields-->
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Act:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <select name="action">
                        {% for opt in ['accept', 'deny'] %}
                        <option value="{{opt}}">{{opt.upper()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col offset-s1">
                    <h6 class="{{title_color}}" style="float: left;">Sec:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <input type="number" name="sec1_prof" id="sec1_prof" class="validate" value="0" min="0" max="1">
                    <label for="sec1_prof">IPProxy</label>
                </div>
                <div class="input-field col s2 {{input_color}}">
                    <input type="number" name="sec2_prof" id="sec2_prof" class="validate" value="0" min="0" max="1">
                    <label for="sec2_prof">IPS/IDS</label>
                </div>
            </div>
            <div class="row">
                <div class="modal-footer">
                    <button class="btn waves-effect waves-light" name="create_rule" onclick="applyObjects()">Submit</button>
                    <a class="btn-flat modal-close waves-effect waves-green" >Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="FWrule-editor" class="modal z-depth-5">
    <div class="popout-form">
        <form action="/advanced/firewall" method="POST">
            <input type="hidden" name="tab" value="1">
            <input type="hidden" name="section" value="{{selected}}">
            <input type="hidden" name="static_pos" value="1">
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Pos:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <input type="number" name="position" class="validate" value="1" min="1" max="{{firewall_settings['firewall_rules']|length + 1}}">
                </div>
                <div class="input-field col offset-s1">
                    <h6 class="{{title_color}}">Log:</h6>
                </div>
                <div class="input-field col s1">
                    <label>
                        <input type="checkbox" name="log" disabled>
                        <span></span>
                    </label>
                </div>
                <div class="input-field col">
                    <h6 class="{{title_color}}">Use:</h6>
                </div>
                <div class="input-field col s3 {{input_color}}">
                    <div class="switch">
                        <label>
                            Off
                            <input id="modify-enabled" type="checkbox" name="rule_state" value="1">
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
                <div>
                    <h4 class="{{title_color}}" style="float: right;">Modify Rule</h4>
                </div>
            </div>
            <!-- source network fields-->
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Src:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <select name="src_zone">
                        {% for zone in merge_items('any', firewall_settings['zone_manager']['builtins'].keys()) %}
                        <option value="{{zone}}">{{zone.upper()}}</option>
                        {% endfor %}
                    </select>
                    <label for="src_zone">Zone</label>
                </div>
                <div class="input-field col s1 {{input_color}}">
                    <button type="button" class="btn waves-effect waves-light src_geo_toggle-edit tooltipped"
                            data-position="bottom" data-tooltip="toggle src geo-filtering">
                        <i class="material-icons">language</i>
                    </button>
                </div>
                <div class="input-field col s4 src_geo-edit">
                    <input type="text" id="src_geo-edit" class="geo-autocomplete">
                    <label for="src_geo">Country</label>
                </div>
                <div class="input-field col s4 offset-s1 {{input_color}}">
                    <input type="text" name="src_ip" id="src_ip" {{ip_net_validate}} placeholder="127.0.0.1/32">
                    <label for="src_ip">Network/Mask</label>
                </div>
                <div class="input-field col s3 {{input_color}}">
                    <input type="text" name="src_port" placeholder="tcp/80">
                    <label for="src_port">Port/s</label>
                </div>
            </div>
            <!-- destination network fields-->
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Dst:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <select name="dst_zone">
                        {% for zone in merge_items('any', firewall_settings['zone_manager']['builtins'].keys()) %}
                        <option value="{{zone}}">{{zone.upper()}}</option>
                        {% endfor %}
                    </select>
                    <label for="dst_zone">Zone</label>
                </div>
                <div class="input-field col s1 {{input_color}}">
                    <button type="button" class="btn waves-effect waves-light dst_geo_toggle-edit tooltipped"
                            data-position="bottom" data-tooltip="toggle dst geo-filtering">
                        <i class="material-icons">language</i>
                    </button>
                </div>
                <div class="input-field col s4 dst_geo-edit">
                    <input type="text" name="dst_geo" id="dst_geo-edit" class="geo-autocomplete">
                    <label for="dst_geo">Country</label>
                </div>
                <div class="input-field col s4 offset-s1 {{input_color}}">
                    <input type="text" name="dst_ip" id="dst_ip" {{ip_net_validate}} placeholder="127.0.0.1/32" required>
                    <label for="dst_ip">Network/Mask</label>
                </div>
                <div class="input-field col s3 {{input_color}}">
                    <input type="text" name="dst_port" placeholder="tcp/80">
                    <label for="dst_port">Port/s</label>
                </div>
            </div>
            <!-- packet decision fields-->
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Act:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <select name="action">
                        {% for opt in ['accept', 'deny'] %}
                        <option value="{{opt}}">{{opt.upper()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col offset-s1">
                    <h6 class="{{title_color}}" style="float: left;">Sec:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <input type="number" name="sec1_prof" class="validate" value="0"  min="0" max="1">
                    <label for="sec1_prof">IPProxy</label>
                </div>
                <div class="input-field col s2 {{input_color}}">
                    <input type="number" name="sec2_prof" class="validate" value="0"  min="0" max="1">
                    <label for="sec2_prof">IPS/IDS</label>
                </div>
            </div>
            <div class="row">
                <div class="modal-footer">
                    <button class="btn waves-effect waves-light" name="modify_rule">Submit</button>
                    <a class="btn-flat modal-close waves-effect waves-green">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    colorizeTable(2);
    initDNXChips("network");
    initDNXChips("service");
</script>
<script>
    $(".grab").mousedown(function(e) {
      var tr = $(e.target).closest("TR"),
        si = tr.index(),
        sy = e.pageY,
        b = $(document.body),
        drag;
      if (si == 0) return;
      b.addClass("grabCursor").css("userSelect", "none");
      tr.addClass("grabbed");

      function move(e) {
        if (!drag && Math.abs(e.pageY - sy) < 10) return;
        drag = true;
        tr.siblings().each(function() {
          var s = $(this),
            i = s.index(),
            y = s.offset().top;
          if (i > 0 && e.pageY >= y && e.pageY < y + s.outerHeight()) {
            if (i < tr.index())
              tr.insertAfter(s);
            else
              tr.insertBefore(s);
            return false;
          }
        });
      }

      function up(e) {
        if (drag && si != tr.index()) {
          drag = false;
          alert("moved!");
        }
        $(document).unbind("mousemove", move).unbind("mouseup", up);
        b.removeClass("grabCursor").css("userSelect", "none");
        tr.removeClass("grabbed");
      }
      $(document).mousemove(move).mouseup(up);
    });

function reconcileObjects(objectNames) {
    var tempArray = []

    for (let obj of objectNames) {

        console.log(obj)
        console.log(obj.tag)
        var objectID = document.getElementsByName(`obj_${obj.tag}`)[0].id

        tempArray.push(objectID);
    }

    return tempArray.join(',')
}

function applyObjects() {
    var s1 = M.Chips.getInstance($('.address-obj-src')).chipsData;
    var s2 = M.Chips.getInstance($('.service-obj-src')).chipsData;
    var d1 = M.Chips.getInstance($('.address-obj-dst')).chipsData;
    var d2 = M.Chips.getInstance($('.service-obj-dst')).chipsData;

    document.getElementById('address-obj-src-input').value = reconcileObjects(s1);
    document.getElementById('service-obj-src-input').value = reconcileObjects(s2);
    document.getElementById('address-obj-dst-input').value = reconcileObjects(d1);
    document.getElementById('service-obj-dst-input').value = reconcileObjects(d2);
}
</script>
{% endblock %}
