[Unit]
Description=DNXFIREWALL Startup Tasks

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/python3 /home/dnx/dnxfirewall/dnx_system/startup_proc.py
Environment=HOME_DIR=/home/dnx/dnxfirewall

[Install]
WantedBy=network-pre.target
