<script>
async function commitRules(table_id) {
        let FWsection = document.getElementById('section').value
        let FWrules = tableToJson(table_id)
        let response = await ajaxClient.post('/commit', { 'section': `${FWsection}`, 'rules': `${FWrules}` });

        if (response) {
            // this needs to be worked on to differentiate whether a page update or a new table load. if new table
            // the table body should be reset, data retained and (notify of no more data? grey out more data btn?)
            if (response.length === 0) {
                console.log('No data!')
                return;
            }

            // Data do something with it.
            console.log('[server/response]: ',response);
        } else {
            console.log('no response from server.')
        }
}
function tableToJson(table_id) {
    const table = document.getElementById(`${table_id}`)
    console.log(table)
    let data = {};

    for (let i=0; i<table.rows.length; i++) {

        let tableRow = table.rows[i];
        let rowData = [tableRow.attributes['data-enabled'].value];

        for (let j=1; j<tableRow.cells.length; j++) {
            rowData.push((tableRow.cells[j].innerText)); // .replace(' ', ',') replace only does first occurrence
        }

        data[i] = rowData;
    }

    return JSON.stringify(data);
}
</script>

