<script>
class AjaxClient {
    constructor(baseUri, onErrorCallback = null) {
        this._baseUrl = baseUri;
        this._onErrorCallback = onErrorCallback;
    }

    get baseUrl() {
        return this._baseUrl;
    }

    async post(url = '', data = {}) {
        const response =
            await fetch(this.baseUrl + url, {
                method : 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })

        return await this.__handleResponse(response);
    }

    async __handleResponse(response) {
        if (response.ok) {
            let ajaxResponse = await response.json();

            if (ajaxResponse.success) {
                return ajaxResponse.result;
            }

            if (this._onErrorCallback) {
                this._onErrorCallback(ajaxResponse.error);
            }

            return null;
        }
    }
}
</script>
<script>
const ajaxClient = new AjaxClient('/{{"/".join(uri_path)}}');
const commitRules =
    async (table_id) => {
        let FWsection = document.getElementById('section').value
        let FWrules = tableToJson(table_id)
        let response = await ajaxClient.post('/commit', { 'section': `${FWsection}`, 'rules': `${FWrules}` });

        if (response) {
            // this needs to be worked on to differentiate whether a page update or a new table load. if new table
            // the table body should be reset, data retained and (notify of no more data? grey out more data btn?)
            if (response.length === 0) {
                console.log('No data!')
                return;
            }

            // Data do something with it.
            console.log(response);
        }
}
function tableToJson(table_id) {
    var table = document.getElementById(`${table_id}`)
    console.log(table)
    var data = {};

    for (var i=0; i<table.rows.length; i++) {

        var tableRow = table.rows[i];
        var rowData = [];

        for (var j=1; j<tableRow.cells.length; j++) {
            rowData.push((tableRow.cells[j].innerText.replace(' ', ',')));

        }

        data[i] = rowData;
    }

    return JSON.stringify(data);
}
</script>

