{% extends('layout.html') %}
{% block body %}
<section id="tabs-bar" class="tabsbar">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12 xl12">
                <ul class="tabs">
                    <li class="tab col s3 m3 l4 xl2"><a {% if tab==1 %} class="active" {% endif %} href="#categories"
                            onclick="activeTab(1)">Categories</a></li>
                    <li class="tab col s3 m3 l4 xl2"><a {% if tab==2 %} class="active" {% endif %} href="#tlds"
                            onclick="activeTab(2)">TLDs</a></li>
                    <li class="tab col s3 m3 l4 xl2"><a {% if tab==3 %} class="active" {% endif %} href="#keywords"
                            onclick="activeTab(3)">Keywords</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="categories" class="section">
    <div class="container">
        <div class="row">
            {% if domain_settings['user_defined'] %}
            <div class="col s12 m10 offset-m1">
                <div class="card-panel hoverable {{theme.card}}">
                    <h4 class="{{theme.title}}">User Defined</h4>
                    <div class="row">
                        {% for category, settings in domain_settings['user_defined'] %}
                        <div class="input-field col s4 m4 center">
                            {{category}}
                            <div class="switch">
                                <label>
                                    Off
                                    <input type="checkbox" {% if settings['enabled'] %} checked="checked" {% endif %}
                                           name="user_defined" value="{{category}}" onchange="updateCategory(this)">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card-panel hoverable {{theme.card}}">
                    <h4 class="{{theme.title}}">System Default</h4>
                    <div class="row">
                        {% for category, settings in domain_settings['default'] %}
                        <div class="input-field col s4 m4 center">
                            <div class="switch">
                                <h6>{{category}}</h6>
                                <label>
                                    Off
                                    {% if category in ['malicious', 'cryptominer'] %}
                                    <input disabled type="checkbox" checked="checked" name="default">
                                    {% else %}
                                    <input type="checkbox" {% if settings['enabled'] %} checked="checked" {% endif %}
                                           name="default" value="{{category}}" onchange="updateCategory(this)">
                                    {% endif %}
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tlds" class="section">
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card-panel hoverable {{theme.card}}">
                    <h4 class="{{theme.title}}">Top Level Domains</h4>
                    <div class="row">
                        {% for tld, status in domain_settings['tld'] %}
                        <div class="col s3 m3 center">
                            <div class="row">
                                <div class="input-field col s12">
                                    <h6>{{tld}}</h6>
                                    <div class="switch">
                                        <label>
                                            Off
                                            <input type="checkbox" {% if status %} checked="checked" {% endif %}
                                                name="tld" value="{{tld}}" onchange="updateCategory(this)">
                                            <span class="lever"></span>
                                            On
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="keywords" class="section">
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card-panel hoverable {{theme.card}}">
                    <h4 class="{{theme.title}}">Keyword Search</h4>
                    <div class="row">
                        {% for category, settings in domain_settings['default'] %}
                        {% if settings['enabled'] %}
                        <div class="input-field col s3 m3 center">
                            <h6>{{category}}</h6>
                            <div class="switch">
                                <label>
                                    Off
                                    <input type="checkbox" {% if settings['keyword'] %} checked="checked"
                                        {% endif %} name="keyword" value="{{category}}" onchange="updateCategory(this)">
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
async function updateCategory(category) {
    const enabled = !!category.checked;

    let response = await ajaxClient.post("/post", {"type": category.name, "category": category.value, "enabled": enabled});

    ajaxClient.handleResponse(response, category)
}
</script>
{% endblock %}
