{% extends('layout.html') %}
{% block body %}
{# aliasing for now so we can reuse template #}
{% set page_settings = domain_settings %}
<section id="tabs-bar">
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card-panel hoverable {{ theme.card }}">
                    <ul class="tabs tabs-fixed-width">
                    {{ create_tab(tab, 1, 'categories')|safe }}
                    {{ create_tab(tab, 2, 'tlds')|safe }}
                    {{ create_tab(tab, 3, 'keywords')|safe }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/_sec_profiles.html' %}
</section>
<section id="categories" class="section">
    <div class="container">
        <div class="row">
        {% if domain_settings['user_defined'] %}
            <div class="col s12 m10 offset-m1">
                <div class="card-panel hoverable {{ theme.card }}">
                    {{ create_title('user defined')|safe }}
                    <div class="row">
                    {% for category, settings in domain_settings['user_defined'] %}
                    {% if not loop.index0 % 4 %}<div class="row">{% endif %}
                        {{ create_decora_switch('user_defined', category, settings['enabled'])|safe }}
                    {% if loop.index0 % 4 == 3 or loop.last%}</div>{% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card-panel hoverable {{ theme.card }}">
                    {{ create_title('system default')|safe }}
                    {% for category, settings in domain_settings['built-in'] %}
                    {% if not loop.index0 % 4 %}<div class="row">{% endif %}
                        {{ create_decora_switch('built-in', category, settings['enabled'])|safe }}
                    {% if loop.index0 % 4 == 3 or loop.last%}</div>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tlds" class="section">
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card-panel hoverable {{ theme.card }}">
                {{ create_title('top level domains')|safe }}
                    <div class="row">
                    {% for tld, status in domain_settings['tld'] %}
                    {% if not loop.index0 % 4 %}<div class="row">{% endif %}
                        {{ create_decora_switch('tld', tld, status)|safe }}
                    {% if loop.index0 % 4 == 3 or loop.last%}</div>{% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="keywords" class="section">
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card-panel hoverable {{ theme.card }}">
                    {{ create_title('keyword search')|safe }}
                    <div class="row">
                    {% for category, settings in domain_settings['built-in'] %}
                        {% if settings['enabled'] %}
                        {{ create_decora_switch('keyword', category, settings['keyword'])|safe }}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
async function updateCategory(category, enabled) {

    let response = await ajaxClient.post("/post", {"type": category.name, "category": category.value, "enabled": !!enabled});

    // manually changing the active button instead of using an event listener to prevent a switch on server errors.
    let error = ajaxClient.handleResponse(response, category);
    if (!error) {
        category.parentElement.parentElement.querySelector(".active").classList.remove("active");
        category.parentElement.classList.add("active");
    }
}
</script>
{% endblock %}
