{% extends('layout.html') %}
{% block body %}
  <section id="users" class="section">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card-panel hoverable {{ theme.card }}">
            {{ create_title('add route')|safe }}
            <form method="post">
              <div class="row">
                <div class="input-field col s4 {{input_color}}">
                  <input type="text" name="user_acct" id="ua" class="validate" placeholder="192.168.69.0" required>
                  <label for="nid">Network ID</label>
                </div>
                <div class="input-field col s4 {{input_color}}">
                  <input type="password" name="user_password" id="up" class="validate" placeholder="255.255.255.0" required>
                  <label for="nms">Netmask</label>
                </div>
                <div class="input-field col s4 {{input_color}}">
                  <select name="route_ad" id="nad">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="60">60</option>
                    <option value="100">100</option>
                  </select>
                  <label for="route_ad">Admin Distance</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s4 m2 offset-s4 offset-m5">
                  <button class="btn waves-effect waves-light col s12" name="route_add">Add</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col s12">
          <div class="card-panel hoverable {{ theme.card }}">
            {{ create_title('Route Table')|safe }}
            <span>Codes: {{ route_info.routing_codes }}</span>
            <span>Modifiers: {{ route_info.routing_modifiers }}</span>
            <table class="striped centered">
              <thead>
              <tr>
                <th style="width:5%"></th>
                <th style="width:5%">State</th>
                <th style="width:15%">Network</th>
                <th style="width:5%">[Adm] Distance</th>
                <th style="width:15%">Next Hop</th>
                <th style="width:10%">Interface</th>
              </tr>
              </thead>
              <tbody style="font-size:18px;">
              {% set message = 'Are you sure you want to remove this route entry ?' %}
              {% for route in route_info.routing_table %}
                {% set r = (route|string).split() %}
                <tr>
                  <td>
                    {% if 'C' in route.state %}
                      <span>--</span>
                    {% else %}
                      {{ create_button_with_modal(
                        'btn-floating btn-small red', 'remove', 1, loop.index, 1, 'route_remove', user, message)|safe
                      }}
                    {% endif %}
                  </td>
                  <td>{{ r[0] }}</td>
                  <td>{{ r[1] }}</td>
                  <td>{{ r[2] }}</td>
                  <td>{{ r[3] }} {{ r[4] }}</td>
                  <td>{{ r[5] }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
