{% extends('layout.html') %}
{% block body %}
<section id="dropdown" class="section {{main_section_color}}">
    <div class="container">
        <div class="col s12">
            <div class="card-panel hoverable {{card_color}}">
                <h4 class="{{title_color}}">Traffic Logs</h4>
                <div class="row">
                    <form method="POST">
                        <div class="input-field col s5 m3 {{input_color}}">
                            <select name="table" onchange="this.form.submit()">
                                {% for table_type in table_types %}
                                <option value="{{table_type}}/last" {% if table_type == table %} selected {% endif %}
                                    >{{table_type.replace("_", " ").upper()}}</option>
                                {% endfor %}
                            </select>
                            <label for="table">Module</label>
                        </div>
                        <div class="input-field col s2">
                            <button class="btn waves-effect waves-light col">
                                <i class="material-icons">refresh</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <table class="centered highlight" id="filter-table">
                        <div class="input-field col s12 m6 l5 xl3 {{input_color}}">
                            <input type="text" id="filter-input" onkeyup="filterTable(0, 2)" placeholder="Search string">
                        </div>
                        <thead>
                            <tr>
                                <th style="width:25%">Entry</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in table_data %}
                            <tr>
                                <td>{{entry[0]}}</td>
                            </tr>
                            {% else %}
                            <tr>
                                {% for i in range(1) %}
                                <td></td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
