{% extends('layout.html') %}
{% block body %}
<section id="tabs-bar" class="tabsbar">
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <ul class="tabs">
                    <li class="{{tab_classes}}"><a {% if tab=='1' %} class="active" {% endif %} href="#reputation"
                        onclick="activeTab(1)">Reputation</a></li>
                    <li class="{{tab_classes}}"><a {% if tab=='2' %} class="active" {% endif %} href="#geolocation"
                        onclick="activeTab(2)">Geolocation</a></li>
                    <li class="{{tab_classes}}"><a {% if tab=='3' %} class="active" {% endif %} href="#lan-restrict"
                        onclick="activeTab(3)">Lan Restrict</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="reputation" class="section {{main_section_color}}">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Reputation</h4>
                    <form action="/advanced/ip" method="post">
                        <input type="hidden" name="tab" value="1">
                        <input type="hidden" name="ip_hosts_update">
                        <div class="row">
                            {% for category, enabled in ip_settings['reputation'].items() %}
                            <div class="input-field col s4 offset-s1">
                                {{category.title().replace('_', ' ')}}
                                <br>
                                <select class="browser-default" name="reputation" id="" onchange="this.form.submit()">
                                    <option value="{{category}}_0" {% if enabled==1 %} selected {% endif %}>OFF</option>
                                    <option value="{{category}}_1" {% if enabled==1 %} selected {% endif %}>OUTBOUND</option>
                                    <option value="{{category}}_2" {% if enabled==2 %} selected {% endif %}>INBOUND</option>
                                    <option value="{{category}}_3" {% if enabled==3 %} selected {% endif %}>BOTH</option>
                                </select>
                            </div>
                            {% endfor %}
                        </div>
                        <noscript>
                            <div class="row">
                                <div class="col s12 center">
                                    <button class="btn waves-effect waves-light">Update</button>
                                </div>
                            </div>
                        </noscript>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="geolocation" class="section {{main_section_color}}">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">By Continent</h4>
                    {% for continent in ip_settings['country_map'] %}
                    {% if loop.first or not loop.index % 4 %}<div class="row">{% endif %}
                    <form method="POST">
                        <input type="hidden" name="tab" value="2">
                        <input type="hidden" name="continent" value="{{continent}}">
                        <div class="input-field col s3">
                            <select name="direction" onchange="this.form.submit()">
                                <option selected disabled>{{continent.title().replace('_', ' ')}}</option>
                                <option value="0" data-icon="/static/assets/images/ipp_off.png">OFF</option>
                                <option value="1" data-icon="/static/assets/images/ipp_up.png">OUTBOUND</option>
                                <option value="2" data-icon="/static/assets/images/ipp_down.png">INBOUND</option>
                                <option value="3" data-icon="/static/assets/images/ipp_up_down.png">BOTH</option>
                            </select>
                        </div>
                    </form>
                    {% if loop.last or not loop.index % 4 %}</div>{% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col s12">
                {% for continent, info in ip_settings['country_map'].items() %}
                <div class="card-panel hoverable {{card_color}}">
                    <h5 class="{{title_color}}">{{continent}}</h5>
                    {% for country in info['countries'] %}
                    {% if loop.first or not loop.index % 6 %}<div class="row">{% endif %}
                    {% set enabled = ip_settings['geolocation'][country] %}
                    <form method="POST">
                        <input type="hidden" name="tab" value="2">
                        <input type="hidden" name="country" value="{{country}}">
                        <div class="input-field col s2">
                            <label>
                                <h6 class="{{title_color}}">{{country.title().replace('_', ' ')|truncate(20)}}</h6>
                            </label><br><br>
                            <select class="icons" name="direction" onchange="this.form.submit()">
                                <option value="0" {% if enabled==0 %} selected {% endif %}
                                    data-icon="/static/assets/images/ipp_off.png">OFF</option>
                                <option value="1" {% if enabled==1 %} selected {% endif %}
                                    data-icon="/static/assets/images/ipp_up.png">OUTBOUND</option>
                                <option value="2" {% if enabled==2 %} selected {% endif %}
                                    data-icon="/static/assets/images/ipp_down.png">INBOUND</option>
                                <option value="3" {% if enabled==3 %} selected {% endif %}
                                    data-icon="/static/assets/images/ipp_up_down.png">BOTH</option>
                            </select>
                        </div>
                    </form>
                    {% if loop.last or not loop.index % 6 %}</div>{% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section id="lan-restrict" class="section {{main_section_color}}">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">LAN Restrict</h4>
                    <form action="/advanced/ip" method="post">
                        <input type="hidden" name="tab" value="3">
                        <div class="col s12">
                            <h6>Start Time</h6>
                            <div class="row">
                                <div class="input-field col s12 m3 {{input_color}}">
                                    <input type="number" name="hour" min="0" max="12" value="{{ip_settings['tr_settings']['hour']}}">
                                    <label for="hour">Hour</label>
                                </div>
                                <div class="input-field col s12 m3 {{input_color}}">
                                    <input type="number" name="minutes" min="0" max="45" step="15" value="{{ip_settings['tr_settings']['minutes']}}">
                                    <label for="minute">Minute</label>
                                </div>
                                <div class="input-field col s12 m3 {{input_color}}">
                                    <select name="time_suffix" id="">
                                        <option value="AM" {% if ip_settings['tr_settings']['suffix']=='AM' %} selected
                                            {% endif %}>AM</option>
                                        <option value="PM" {% if ip_settings['tr_settings']['suffix']=='PM' %} selected
                                            {% endif %}>PM</option>
                                    </select>
                                    <label for="time_suffix"></label>
                                </div>
                            </div>
                            <h6>Duration</h6>
                            <div class="row">
                                <div class="input-field col s12 m3 {{input_color}}">
                                    <input type="number" name="tlen_hour" min="0" max="11" value="{{ip_settings['tr_settings']['length_hour']}}">
                                    <label for="tlen_hour">Hours</label>
                                </div>
                                <div class="input-field col s12 m3 {{input_color}}">
                                    <input type="number" name="tlen_minutes" min="0" max="45" step="15" value="{{ip_settings['tr_settings']['length_minutes']}}">
                                    <label for="tlen_minutes">Minutes</label>
                                </div>
                                <div class="input-field col s12 m6 center">
                                    <br>
                                    <div class="switch">
                                        <label>
                                            Disabled
                                            <input type="checkbox" {% if ip_settings['tr_settings']['enabled'] %}
                                                checked="checked"  {% endif %} name="restriction_enable">
                                            <span class="lever"></span>
                                            Enabled
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center">
                                <button class="btn waves-effect waves-light" name="time_res_update">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
