{% extends('layout.html') %}
{% block body %}
<section id="tabs-bar" class="tabsbar">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12 xl12">
                <ul class="tabs">
                    <li class="tab col s3 m3 l4 xl2"><a {% if tab=='1' %} class="active" {% endif %} href="#fwall"
                        onclick="activeTab(1)">Rulesets</a></li>
                    <li class="tab col s3 m3 l4 xl2"><a {% if tab=='2' %} class="active" {% endif %} href="#zones"
                        onclick="activeTab(2)">Zones</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="fwall" class="section {{main_section_color}}">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Rule List (**Pending)</h4>
                    <div class="row">
                        <form action="advanced/firewall" method="POST">
                            <input type="hidden" name="tab" value="1">
                            <input type="hidden" name="change_section">
                            <div class="input-field col s4 m2 {{input_color}}">
                                <select name="section" onchange="this.form.submit()">
                                    {% for section in sections %}
                                        {% if section == selected %}
                                        <option value="{{section}}" selected>{{section}}</option>
                                        {% else %}
                                        <option value="{{section}}">{{section}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="section">Ruleset</label>
                            </div>
                        </form>
                        <a class="btn waves-effect waves-light modal-trigger right"
                           href="#FWrule-creator"><i class="material-icons"></i>Create Rule</a>
                    </div>
                    <div class="row">
                        <table class="striped centered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Pos</th>
                                    <th>S Zone</th>
                                    <th>S Net</th>
                                    <th>Proto/Port</th>
                                    <th>D Zone</th>
                                    <th>D Net</th>
                                    <th>Proto/Port</th>
                                    <th>Action</th>
                                    <th>Log</th>
                                    <th>IPProxy</th>
                                    <th>IPS/IDS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rule in firewall_settings['firewall_rules'] %}
                                <tr id="r{{loop.index}}" data-fw-modal="r{{loop.index}}" {% if not rule[0] %} style="opacity: .4" {% endif %}>
                                    <td>
                                        <form action="/advanced/firewall" method="POST">
                                            <input type="hidden" name="tab" value="1">
                                            <input type="hidden" name="position" value="{{rule[0]}}">
                                            <input type="hidden" name="zone" value="{{selected}}">
                                            <button class="btn-floating btn-small waves-effect waves-light red" name="action" value="remove">
                                                <i class="material-icons">remove</i>
                                            </button>
                                        </form>
                                    </td>
                                    <td>{{loop.index}}</td>
                                    {% for field in rule[1:] %}
                                    <td>{{field}}</td>
                                    {% endfor %}
                                </tr>
                                {% else %}
                                <tr>
                                    {% for i in range(12) %}
                                    <td></td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="zones" class="section {{main_section_color}}">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Interface List</h4>
                    <table class="striped centered">
                        <thead>
                            <tr>
                                <th>Interface</th>
                                <th>Zone</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for intf, zone in firewall_settings['zone_map']['builtins'].items() %}
                            <tr>
                                <td>{{intf}}</td>
                                <td>{{zone}}</td>
                                <td>built-in</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col s12">
                <div class="card-panel hoverable {{card_color}}">
                    <h4 class="{{title_color}}">Zone Manager</h4>
                    <table class="striped centered highlight">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Zone</th>
                                <th>Type</th>
                                <th>Associations</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for zone, zone_info in firewall_settings['zone_manager']['builtins'].items() %}
                            <tr>
                                <td>X</td>
                                <td>{{zone}}</td>
                                <td>built-in</td>
                                <td>{{zone_info[0]}}</td>
                                <td>{{zone_info[1]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="FWrule-creator" class="modal z-depth-5">
    <div class="popout-form">
        <form action="/advanced/firewall" method="POST">
            <input type="hidden" name="tab" value="1">
            <input type="hidden" name="section" value="{{selected}}">
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Pos:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <input type="number" name="position" class="validate" value="1" min="1" max="{{firewall_settings['firewall_rules']|length + 1}}">
                </div>
                <div>
                    <h4 class="{{title_color}}" style="float: right;">Create Rule</h4>
                </div>
            </div>
            <!-- source network fields-->
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Src:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <select name="src_zone">
                        {% for zone in merge_items('any', firewall_settings['zone_manager']['builtins'].keys()) %}
                        <option value="{{zone}}">{{zone.upper()}}</option>
                        {% endfor %}
                    </select>
                    <label for="src_zone">Zone</label>
                </div>
                <div class="input-field col s4 offset-s1 {{input_color}}">
                    <input type="text" name="src_ip" {{ip_addr_validate}} placeholder="127.0.0.1/32">
                    <label for="src_ip">Network/Mask</label>
                </div>
                <div class="input-field col s3 {{input_color}}">
                    <input type="text" name="src_port" {{port_validate}} placeholder="tcp/80">
                    <label for="src_port">Port/s</label>
                </div>
            </div>
            <!-- destination network fields-->
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Dst:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <select name="dst_zone">
                        {% for zone in merge_items('any', firewall_settings['zone_manager']['builtins'].keys()) %}
                        <option value="{{zone}}">{{zone.upper()}}</option>
                        {% endfor %}
                    </select>
                    <label for="dst_zone">Zone</label>
                </div>
                <div class="input-field col s4 offset-s1 {{input_color}}">
                    <input type="text" name="dst_ip" {{ip_addr_validate}} placeholder="127.0.0.1/32" required>
                    <label for="dst_ip">Network/Mask</label>
                </div>
                <div class="input-field col s3 {{input_color}}">
                    <input type="text" name="dst_port" {{port_validate}} placeholder="tcp/80">
                    <label for="dst_port">Port/s</label>
                </div>
            </div>
            <!-- packet decision fields-->
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Act:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <select name="action">
                        {% for opt in ['ACCEPT', 'DROP'] %}
                        <option value="{{opt}}">{{opt.upper()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s2">
                    <p>
                      <label>
                        <input type="checkbox" name="log" disabled>
                        <span>Log</span>
                      </label>
                    </p>
                </div>
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Sec:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <input type="number" name="sec-p1" class="validate" value="1" min="1" max="1" disabled>
                    <label for="sec-p1">IPProxy</label>
                </div>
                <div class="input-field col s2 {{input_color}}">
                    <input type="number" name="sec-p2" class="validate" value="1" min="1" max="1" disabled>
                    <label for="sec-p2">IPS/IDS</label>
                </div>
            </div>
            <div class="row">
                <div class="modal-footer">
                    <button class="btn waves-effect waves-light" name="create_rule">Submit</button>
                    <a class="btn-flat modal-close waves-effect waves-green">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="FWrule-editor" class="modal z-depth-5">
    <div class="popout-form">
        <form action="/advanced/firewall" method="POST">
            <input type="hidden" name="tab" value="1">
            <input type="hidden" name="section" value="{{selected}}">
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Pos:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <input type="number" name="position" class="validate" value="1" min="1" max="{{firewall_settings['firewall_rules']|length + 1}}">
                </div>
                <div>
                    <h4 class="{{title_color}}" style="float: right;">Create Rule</h4>
                </div>
            </div>
            <!-- source network fields-->
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Src:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <select name="src_zone">
                        {% for zone in merge_items('any', firewall_settings['zone_manager']['builtins'].keys()) %}
                        <option value="{{zone}}">{{zone.upper()}}</option>
                        {% endfor %}
                    </select>
                    <label for="src_zone">Zone</label>
                </div>
                <div class="input-field col s4 offset-s1 {{input_color}}">
                    <input type="text" name="src_ip" {{ip_addr_validate}} placeholder="127.0.0.1/32">
                    <label for="src_ip">Network/Mask</label>
                </div>
                <div class="input-field col s3 {{input_color}}">
                    <input type="text" name="src_port" {{port_validate}} placeholder="tcp/80">
                    <label for="src_port">Port/s</label>
                </div>
            </div>
            <!-- destination network fields-->
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Dst:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <select name="dst_zone">
                        {% for zone in merge_items('any', firewall_settings['zone_manager']['builtins'].keys()) %}
                        <option value="{{zone}}">{{zone.upper()}}</option>
                        {% endfor %}
                    </select>
                    <label for="dst_zone">Zone</label>
                </div>
                <div class="input-field col s4 offset-s1 {{input_color}}">
                    <input type="text" name="dst_ip" {{ip_addr_validate}} placeholder="127.0.0.1/32" required>
                    <label for="dst_ip">Network/Mask</label>
                </div>
                <div class="input-field col s3 {{input_color}}">
                    <input type="text" name="dst_port" {{port_validate}} placeholder="tcp/80">
                    <label for="dst_port">Port/s</label>
                </div>
            </div>
            <!-- packet decision fields-->
            <div class="row">
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Act:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <select name="action">
                        {% for opt in ['ACCEPT', 'DROP'] %}
                        <option value="{{opt}}">{{opt.upper()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s2">
                    <p>
                      <label>
                        <input type="checkbox" name="log" disabled>
                        <span>Log</span>
                      </label>
                    </p>
                </div>
                <div>
                    <h6 class="{{title_color}}" style="float: left;">Sec:</h6>
                </div>
                <div class="input-field col s2 offset-s1 {{input_color}}">
                    <input type="number" name="sec-p1" class="validate" value="1" min="1" max="1" disabled>
                    <label for="sec-p1">IPProxy</label>
                </div>
                <div class="input-field col s2 {{input_color}}">
                    <input type="number" name="sec-p2" class="validate" value="1" min="1" max="1" disabled>
                    <label for="sec-p2">IPS/IDS</label>
                </div>
            </div>
            <div class="row">
                <div class="modal-footer">
                    <button class="btn waves-effect waves-light" name="modify_rule">Submit</button>
                    <a class="btn-flat modal-close waves-effect waves-green">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
