@import 'materialize.css';
/* provides support for nested menus in nav */
nav ul a {
    /*font-size: .96rem;*/
    padding: 0 10px;
    min-width: 130px;
}
nav i.material-icons {
    font-size: 24px;
    margin-right: 6px;
}
.dropdown-content-trigger {
    overflow-y: visible;
}
.dropdown-content .dropdown-content {
    left: -94%;
    top: 36px;
}
.dropdown-content {
    min-width: 130px;
}
.dropdown-content li > a {
    font-weight: bold;
    padding: 14px 6px;
}
.dropdown-content li > a > i {
    float: left;
    margin: 0 4px;
    width: 28px;
}
.dropdown-content li > a > i.right {
    float: right;
}
.dropdown-content li > a.expand {
    font-size: 13px;
    text-align: center;
    cursor: default;
}
.dropdown-content li > a.expand > i {
    margin: 0 -4px 0 2px;
}

/* -- */

nav .brand-logo {
    padding-right: 5px;
    padding-left: 5px;
}

nav .dropdown-content a {
    color: #e51c23;
}

#statistics {
    min-height: 300px;
}

.input-field input[type=date]:focus+label,
.input-field input[type=text]:focus+label,
.input-field input[type=email]:focus+label,
.input-field input[type=password]:focus+label {
    color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
}
.login-page {
    margin: 0 auto;
}

.login-page form {
    width:300px;
}

.col.s12.z-depth-4.card-panel {
    width:315px;
    word-break:break-all
}

/* CARD PANEL EQ HEIGHT */
.row-flex {
    display: flex;
    flex-wrap: wrap;
  }
.card-panel-eql {
    height: calc(100% - 12px);
  }

/* LOGO adjustments override */
@media only screen and (max-width: 992px) {
    nav .brand-logo {
      left: 50%;
      transform: none; }
    }

nav .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .brand-logo {
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0; }

/* navigation menu type size and pixel adjustment override */
@media only screen and (max-width: 1550px) {
    .remove-big-menu {
        display: none !important; } }

@media only screen and (max-width: 1549px) {
    .show-mobile-menu {
        display: block !important; } }

/* icon color change */
i.icon-red {
    color: red;
}

i.icon-green {
    color: green;
}

i.icon-blue {
    color: blue;
}

/* highlight override */
table.highlight > tbody > tr:hover {
    background-color: rgba(122, 89, 39, 0.507); }

/* table striping and  - css */
table.striped > tbody > tr:nth-child(odd) {
    background-color: rgba(11, 47, 47, 0.5); }

table.striped > tbody > tr {
    background-color: rgba(242, 242, 242, 0.5); }

/* table striping - javascript */
.tr-odd {
    background-color: rgba(11, 47, 47, 0.5); }

.tr-even {
    background-color: rgba(242, 242, 242, 0.5); }

/* materialize override */
.no-border {
  border-bottom: 0; }

/* custom switches */
.multi-switch-container {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 195px;
  height: 50px;
  border-radius: 30px;
  background: #444444;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5);
}

.multi-switch {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multi-switch > li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  height: 45px;
  width: 45px;
  background: #4d4d4d;
  border-top: 1px solid #999999;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
  transition: all .5s;
}

.multi-switch > li:hover {
  cursor: pointer;
}

.multi-switch > li:nth-of-type(1) {
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
}

.multi-switch > li:last-of-type {
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
}

.multi-switch > li.active {
  background: #444444;
  border-top: none;
  border-bottom: 2px solid #5b5b5b;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.8);
}

.multi-switch > li > button {
  all: unset;
  display: inline-block;
  color: grey;
  text-decoration: none;
  transition: all .5s;
}

.multi-switch > li > button > .active-text {
  text-shadow: 0 0 5px rgba(220, 10, 10, 0.5);
}

.multi-switch > li.multi-switch-on > button.active-text {
    color: red;
}

.multi-switch > li.multi-switch-off > button.active-text {
    color: green;
}
