[Unit]
Description=DNXFIREWALL DHCP Server Service
After=dnx-logging.service
StartLimitBurst=2
StartLimitIntervalSec=3

[Service]
Type=simple
Restart=always
RestartMode=direct
RestartSec=69ms
User=root
ExecStart=/usr/bin/python3 /home/dnx/dnxfirewall/dnx_run.py cli dhcp-server
Environment=HOME_DIR=/home/dnx/dnxfirewall

[Install]
WantedBy=multi-user.target
