[Unit]
Description=DNXFIREWALL SIEM Database Service
After=network.target
StartLimitBurst=2
StartLimitIntervalSec=3

[Service]
Type=simple
Restart=always
RestartMode=direct
RestartSec=69ms
User=dnx
ExecStart=/usr/bin/python3 /home/dnx/dnxfirewall/dnx_run.py cli database
Environment=HOME_DIR=/home/dnx/dnxfirewall

[Install]
WantedBy=multi-user.target