[Unit]
Description=DNXFIREWALL Log Management Service
After=dnx-database.service
StartLimitBurst=2
StartLimitIntervalSec=3

[Service]
Type=notify
Restart=always
RestartSec=69ms
User=dnx
ExecStart=/usr/bin/python3 /home/dnx/dnxfirewall/dnx_run.py cli logging
Environment=HOME_DIR=/home/dnx/dnxfirewall

[Install]
WantedBy=multi-user.target