<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">dnxfirewall</h5>
                <p class="grey-text text-lighten-4">Raising the bottom line for internet security.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://dnxfirewall.com">Help</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2020 Wright Network Solutions, LLC
        </div>
    </div>
</footer>