<!-- idle timeout notification popup
540000 for 9 minutes | 1.5m???? is for 25min LOL. -->
<body onload="setTimeout(idleTimeout, 1500000)">
    <form action="/{{uri_path|join('/')}}" method="POST">
        <div id="idle-timeout-modal" class="modal modal-idle-timeout">
            <div class="modal-content center">
                <script>var error = true;</script>
                <h5 class="red-text">Your session is about to expire. Do you need more time?</h5>
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect waves-light">YES</button>
                <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                <input type="hidden" name="extend_session_timer">
            </div>
        </div>
        {% if log_timeout %}
        <input type="hidden" name="table" value="{{table_type}}">
        {% else %}
        <p id="timeout-tab"><input type="hidden" name="tab" value="{{tab}}"></p>
        {% endif %}
        {% if cat_settings %}
        <p id="timeout-menu"><input type="hidden" name="menu" value="{{menu}}"></p>
        {% endif %}
    </form>
</body>