<section class="slider">
    <ul class="slides">
        <li>
            <img src="" alt="Firewall" class="responsive-img">
            <div class="caption center-align">
                <h2 class="red-text">Stop them before it's too late</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, consequuntur nesciunt quo ex
                    voluptatibus tempora.
                </h5>
            </div>
        </li>
        <li>
            <img src="" alt="Firewall" class="responsive-img">
            <div class="caption center-align">
                <h2 class="red-text">Push your limits</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam odit tenetur quam impedit
                    perferendis aliquam eos rem amet corporis fuga.
                </h5>
            </div>
        </li>
        <li>
            <img src="" alt="Firewall" class="responsive-img">
            <div class="caption center-align">
                <h2 class="red-text">Explore and share an experience</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod eveniet, quisquam neque, nulla
                    suscipit voluptas rerum et adipisci cum magni quam error. Numquam, nobis explicabo?
                </h5>
            </div>
        </li>
    </ul>
</section>